In [1]:
!ls ./input

alter_info  deliveries.csv  matches.csv  PlayerInfo_Modified.csv

In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv("./input/deliveries.csv")
df.head(2)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [4]:
mf=pd.read_csv("./input/matches.csv", index_col="id")
mf.head(2)

,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
id,,,,,,,,,,,,,,,,,
1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN

In [5]:
bat_set=set(df["batsman"])
print(len(bat_set))

461

In [6]:
pdm=pd.read_csv("./output/till_orgin_id.csv", index_col="Name")
pdm.head(2)

,Unnamed: 0,Search,Profile,Alternative Name,Image,Origin,Profile Id
Name,,,,,,,
A Ashish Reddy,1,http://search.espncricinfo.com/ci/content/play...,/india/content/player/389605.html,Ashish Reddy,http://www.espncricinfo.com/db/PICTURES/CMS/14...,india,389605
A Chandila,32,http://search.espncricinfo.com/ci/content/play...,/india/content/player/27783.html,Ajit Chandila,http://www.espncricinfo.com/db/PICTURES/CMS/14...,india,27783

# Batsman

1. Strike Rate
* Batting Average
* No Of 4, 6
* No of Matches PLayed
* Win /Loose
* How to defeat him
* Most run
* Out After (Run Bins)

## 0. Update key value funtion

In [7]:
def update_variable(variable_name,variable, player_dict):
    player_dict[str(variable_name)]=variable

## Initalize Dictonary

In [8]:
p_name="CH Gayle"
player_dict={"name":p_name}
player_dict["type"]="batsman"
player_dict

{'name': 'CH Gayle', 'type': 'batsman'}

In [9]:
def get_pdf(p_name):
    pdf=df[df["batsman"]==p_name]
    return pdf

def get_pdf_s(p_name): 
    pdf_s=df[(df["batsman"]==p_name) | (df["non_striker"]==p_name) ]
    return pdf_s

In [10]:
pdf=get_pdf(p_name)
pdf_s=get_pdf_s(p_name)

## Get Origin and espncricinfo.com id

In [11]:
def origin_id(p_name, pdm, player_dict):
    origin=pdm.loc[p_name]["Origin"]
    profile_id=pdm.loc[p_name]["Profile Id"]
    update_variable("origin",origin, player_dict)
    update_variable("profile_id",profile_id, player_dict)
    return player_dict

player_dict=origin_id(p_name, pdm, player_dict)

In [12]:
player_dict

{'name': 'CH Gayle',
 'type': 'batsman',
 'origin': 'westindies',
 'profile_id': '51880'}

## 1. Strike Rate

In [13]:
def strike_rate(pdf, player_dict):
    total_runs=sum(pdf["total_runs"])
    total_balls=pdf.shape[0]
    strike_rate=100*(total_runs/total_balls)
#     print(strike_rate)
    update_variable("strike_rate",strike_rate, player_dict)

### Saving Data
strike_rate(pdf, player_dict)
player_dict

{'name': 'CH Gayle',
 'type': 'batsman',
 'origin': 'westindies',
 'profile_id': '51880',
 'strike_rate': 154.58135860979462}

## 2. Batting Average

In [14]:
def batting_average(pdf, pdf_s, p_name, player_dict):
    
    total_runs=sum(pdf["total_runs"])
    times_dismised=pdf_s[pdf_s["player_dismissed"]==p_name].count()["player_dismissed"]
    
    batting_average=total_runs/times_dismised
    
#     print(batting_average)
    update_variable("batting_average",batting_average, player_dict)

### Saving Data
batting_average(pdf, pdf_s,p_name,player_dict)
player_dict

{'name': 'CH Gayle',
 'type': 'batsman',
 'origin': 'westindies',
 'profile_id': '51880',
 'strike_rate': 154.58135860979462,
 'batting_average': 43.97752808988764}

In [15]:
total_runs=sum(pdf["total_runs"])
total_runs
pdf_s

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
125,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,A Nehra,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
126,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,A Nehra,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
127,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,A Nehra,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
128,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,A Nehra,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
129,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,A Nehra,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
130,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,6,Mandeep Singh,CH Gayle,A Nehra,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
131,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,2,1,CH Gayle,Mandeep Singh,B Kumar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
132,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,2,2,CH Gayle,Mandeep Singh,B Kumar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
133,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,2,3,CH Gayle,Mandeep Singh,B Kumar,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
134,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,2,4,Mandeep Singh,CH Gayle,B Kumar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
135,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,2,5,Mandeep Singh,CH Gayle,B Kumar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
136,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,2,6,Mandeep Singh,CH Gayle,B Kumar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
137,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,3,1,CH Gayle,Mandeep Singh,A Nehra,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
138,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,3,2,CH Gayle,Mandeep Singh,A Nehra,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
139,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,3,3,CH Gayle,Mandeep Singh,A Nehra,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
140,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,3,4,Mandeep Singh,CH Gayle,A Nehra,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
141,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,3,5,Mandeep Singh,CH Gayle,A Nehra,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
142,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,3,6,CH Gayle,Mandeep Singh,A Nehra,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
143,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,4,1,Mandeep Singh,CH Gayle,B Kumar,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
144,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,4,2,CH Gayle,Mandeep Singh,B Kumar,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
145,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,4,3,CH Gayle,Mandeep Singh,B Kumar,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
146,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,4,4,CH Gayle,Mandeep Singh,B Kumar,0,...,0,0,0,0,0,1,1,NaN,NaN,NaN
147,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,4,5,CH Gayle,Mandeep Singh,B Kumar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
148,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,4,6,CH Gayle,Mandeep Singh,B Kumar,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
149,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,4,7,Mandeep Singh,CH Gayle,B Kumar,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
150,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,5,1,CH Gayle,Mandeep Singh,BCJ Cutting,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
151,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,5,2,CH Gayle,Mandeep Singh,BCJ Cutting,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
152,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,5,3,CH Gayle,Mandeep Singh,BCJ Cutting,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
153,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,5,4,CH Gayle,Mandeep Singh,BCJ Cutting,0,...,0,0,0,0,0,1,1,NaN,NaN,NaN
154,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,5,5,CH Gayle,Mandeep Singh,BCJ Cutting,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150373,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,6,5,CH Gayle,V Kohli,Mustafizur Rahman,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
150374,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,6,6,V Kohli,CH Gayle,Mustafizur Rahman,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
150375,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,7,1,CH Gayle,V Kohli,MC Henriques,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
150376,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,7,2,CH Gayle,V Kohli,MC Henriques,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
150377,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,7,3,CH Gayle,V Kohli,MC Henriques,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
150378,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,7,4,V Kohli,CH Gayle,MC Henriques,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
150379,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,7,5,V Kohli,CH Gayle,MC Henriques,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
150380,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,7,6,V Kohli,CH Gayle,MC Henriques,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
150381,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,8,1,V Kohli,CH Gayle,BCJ Cutting,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
150382,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,8,2,V Kohli,CH Gayle,BCJ Cutting,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
150383,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,8,3,CH Gayle,V Kohli,BCJ Cutting,0,...,0,0,0,0,0,1,1,NaN,NaN,NaN
150384,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,8,4,CH Gayle,V Kohli,BCJ Cutting,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
150385,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,8,5,CH Gayle,V Kohli,BCJ Cutting,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
150386,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,8,6,CH Gayle,V Kohli,BCJ Cutting,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
150387,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,8,7,V Kohli,CH Gayle,BCJ Cutting,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
150388,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,9,1,V Kohli,CH Gayle,MC Henriques,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
150389,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,9,2,V Kohli,CH Gayle,MC Henriques,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
150390,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,9,3,CH Gayle,V Kohli,MC Henriques,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
150391,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,9,4,CH Gayle,V Kohli,MC Henriques,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
150392,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,9,5,CH Gayle,V Kohli,MC Henriques,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
150393,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,9,6,CH Gayle,V Kohli,MC Henriques,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
150394,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,10,1,V Kohli,CH Gayle,Mustafizur Rahman,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
150395,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,10,2,V Kohli,CH Gayle,Mustafizur Rahman,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
150396,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,10,3,V Kohli,CH Gayle,Mustafizur Rahman,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
150397,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,10,4,CH Gayle,V Kohli,Mustafizur Rahman,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
150398,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,10,5,CH Gayle,V Kohli,Mustafizur Rahman,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
150399,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,10,6,V Kohli,CH Gayle,Mustafizur Rahman,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
150400,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,11,1,CH Gayle,V Kohli,BCJ Cutting,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
150401,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,11,2,V Kohli,CH Gayle,BCJ Cutting,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
150402,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,11,3,CH Gayle,V Kohli,BCJ Cutting,0,...,0,0,0,0,0,0,0,CH Gayle,caught,Bipul Sharma

## 3. No. of 4 and 6

In [16]:
def total_4_6(pdf, player_dict):
    total_4=pdf[pdf["total_runs"]==4].count()["total_runs"]
#     print(total_4)
    total_6=pdf[pdf["total_runs"]==6].count()["total_runs"]
#     print(total_6)
    update_variable("4s",total_4, player_dict)
    update_variable("6s",total_6, player_dict)
        
### Saving Data
total_4_6(pdf, player_dict)

## 4. No. of Matches Played

In [17]:
def no_of_matches(pdf_s, player_dict):
    no_of_matches=len(set(pdf_s["match_id"]))
#     print(no_of_matches)
    update_variable("no_of_matches",no_of_matches, player_dict)

no_of_matches(pdf_s, player_dict)

## 5. Wining percentage

In [18]:
mf.head(1)

,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
id,,,,,,,,,,,,,,,,,
1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN

In [19]:
def update_match_status(pdf_s, p_name):
    
    print("Match Status Started for:",p_name)
    match_ids=list(set(pdf_s["match_id"]))
    
    for m_id in match_ids:
        
        player_team  =  pdf_s[pdf_s["match_id"]==m_id].iloc[0]["batting_team"]
        winning_team =  mf.loc[m_id]["winner"]

        if winning_team==player_team:
            status="Winner"
        elif pd.isnull(winning_team):
            status="No Result"
        else:
            status="Looser"
            
            
        pdf_s.loc[pdf_s["match_id"]==m_id, "match_status"]=status

In [20]:
update_match_status(pdf_s, p_name)

Match Status Started for: CH Gayle

/home/boo/anaconda3/envs/tf_gpu/lib/python3.6/site-packages/pandas/core/indexing.py:362: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/home/boo/anaconda3/envs/tf_gpu/lib/python3.6/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [21]:
pdf_s.head(1)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder,match_status
125,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,A Nehra,0,...,0,0,0,1,0,1,NaN,NaN,NaN,Looser

In [22]:
def winning_percentage(pdf_s, player_dict):
    first_element_of_group=pdf_s.groupby(["match_id","match_status"]).first().reset_index()
    frequency=first_element_of_group["match_status"].value_counts()
    try: 
        won=frequency["Winner"]
    except:
        won=0
    try:    
        lost=frequency["Looser"]
    except:
        lost=0
    winning_percentage=100*won/(won+lost)
    winning_percentage=round(winning_percentage,2)
    update_variable("winning_percentage",winning_percentage, player_dict)

In [23]:
winning_percentage(pdf_s, player_dict)

## 6. Weakness

* Stratedgy For Ballers

In [24]:
pdf.head(1)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
125,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,A Nehra,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN

In [25]:
dismissed_cols=df[df["dismissal_kind"].notnull()]["dismissal_kind"].unique()
### Saving Data

def dismissal_type(pdf,dismissed_cols,player_dict):
    for col in dismissed_cols:
        try:
            player_dict[col]=pdf["dismissal_kind"].value_counts()[col]
        except:
            player_dict[col]=0
            pass

In [26]:
dismissal_type(pdf, dismissed_cols,player_dict)
player_dict

{'name': 'CH Gayle',
 'type': 'batsman',
 'origin': 'westindies',
 'profile_id': '51880',
 'strike_rate': 154.58135860979462,
 'batting_average': 43.97752808988764,
 '4s': 306,
 '6s': 261,
 'no_of_matches': 100,
 'winning_percentage': 51.02,
 'caught': 55,
 'bowled': 22,
 'run out': 2,
 'lbw': 7,
 'caught and bowled': 2,
 'stumped': 2,
 'retired hurt': 0,
 'hit wicket': 0,
 'obstructing the field': 0}

## 7. Most Runs

In [27]:
def most_runs(pdf, player_dict):
    most_runs=max(pdf.groupby("match_id").sum()["total_runs"])

#     print(most_runs)
    ### Saving Data
    update_variable("most_runs",most_runs, player_dict)
most_runs(pdf, player_dict)

## 8.  Out After (Run Bins)

In [28]:
def update_bins(pdf,player_dict):
    value=pdf.groupby("match_id").sum()["total_runs"].values
    bins = [0,25,50,75,200]
    hist=np.histogram(value,bins)
    
    print(hist)
    for h in range(0,4):
        key_name=str(hist[1][h])+"-"+str(str(hist[1][h+1])+"s")
        
        try: 
            value=hist[0][h]
        except:
            value=0
        
        player_dict[key_name]=value

In [29]:
update_bins(pdf,player_dict)
player_dict

(array([47, 22, 10, 21]), array([  0,  25,  50,  75, 200]))

{'name': 'CH Gayle',
 'type': 'batsman',
 'origin': 'westindies',
 'profile_id': '51880',
 'strike_rate': 154.58135860979462,
 'batting_average': 43.97752808988764,
 '4s': 306,
 '6s': 261,
 'no_of_matches': 100,
 'winning_percentage': 51.02,
 'caught': 55,
 'bowled': 22,
 'run out': 2,
 'lbw': 7,
 'caught and bowled': 2,
 'stumped': 2,
 'retired hurt': 0,
 'hit wicket': 0,
 'obstructing the field': 0,
 'most_runs': 181,
 '0-25s': 47,
 '25-50s': 22,
 '50-75s': 10,
 '75-200s': 21}

## Final output

In [30]:
player_dict

{'name': 'CH Gayle',
 'type': 'batsman',
 'origin': 'westindies',
 'profile_id': '51880',
 'strike_rate': 154.58135860979462,
 'batting_average': 43.97752808988764,
 '4s': 306,
 '6s': 261,
 'no_of_matches': 100,
 'winning_percentage': 51.02,
 'caught': 55,
 'bowled': 22,
 'run out': 2,
 'lbw': 7,
 'caught and bowled': 2,
 'stumped': 2,
 'retired hurt': 0,
 'hit wicket': 0,
 'obstructing the field': 0,
 'most_runs': 181,
 '0-25s': 47,
 '25-50s': 22,
 '50-75s': 10,
 '75-200s': 21}

## Creating aggregator function

In [31]:
def complete_agrregator(p_name, df, mf, pdm):
    
    # Intialize Dict
    player_dict={"name":p_name}

    #Profile Type
    player_dict["type"]="batsman"
    
    #Get player Data
    pdf=get_pdf(p_name)
    pdf_s=get_pdf_s(p_name)
    
    # Get origin and Espencrickinfo.com id
    player_dict=origin_id(p_name, pdm, player_dict)
    
    
    #1. Strike Rate
    strike_rate(pdf, player_dict)
    
    #2. Batting Average
    batting_average(pdf,pdf_s, p_name, player_dict)
    
    #3. No Of 4, 6
    total_4_6(pdf, player_dict)
    
    #4. No of Matches PLayed
    no_of_matches(pdf_s, player_dict)
    
    
    #5. Win /Loose
    update_match_status(pdf_s, p_name)
    winning_percentage(pdf_s, player_dict)
    
    #6. How to defeat him
    dismissed_cols=df[df["dismissal_kind"].notnull()]["dismissal_kind"].unique()
    dismissal_type(pdf,dismissed_cols,player_dict)
    
    #7. Most run
    most_runs(pdf, player_dict)
    
    #8. Out After (Run Bins)
    update_bins(pdf,player_dict)

    return player_dict

# Running Test

In [32]:
df=pd.read_csv("./input/deliveries.csv")
mf=pd.read_csv("./input/matches.csv", index_col="id")
pdm=pd.read_csv("./output/till_orgin_id.csv", index_col="Name")


x=complete_agrregator("S Dhawan", df, mf, pdm)
x

Match Status Started for: S Dhawan
(array([63, 32, 25,  6]), array([  0,  25,  50,  75, 200]))

{'name': 'S Dhawan',
 'type': 'batsman',
 'origin': 'india',
 'profile_id': '28235',
 'strike_rate': 124.92512479201332,
 'batting_average': 34.440366972477065,
 '4s': 404,
 '6s': 70,
 'no_of_matches': 126,
 'winning_percentage': 49.21,
 'caught': 64,
 'bowled': 20,
 'run out': 13,
 'lbw': 5,
 'caught and bowled': 2,
 'stumped': 4,
 'retired hurt': 0,
 'hit wicket': 0,
 'obstructing the field': 0,
 'most_runs': 108,
 '0-25s': 63,
 '25-50s': 32,
 '50-75s': 25,
 '75-200s': 6}

# Mega Dictonary Creater fucntion:

In [33]:
def save_all(player_list):

    print("Started thread from:",player_list[0], "to", player_list[-1])
        
    
#     player_list=bat_set=set(df["batsman"])

    for player in player_list:
        p_name=str(player)
        player_dict=complete_agrregator(p_name,df, mf, pdm)
        player_dicts.append(player_dict)

    return player_dicts

In [34]:
# player_list=list(set(df["batsman"]))
# save_all(player_list[0:76])

# Multi Threading  for faster results

In [35]:
import threading
import math

#### Importing Csv File
df=pd.read_csv("./input/deliveries.csv")
mf=pd.read_csv("./input/matches.csv", index_col="id")
pdm=pd.read_csv("./output/till_orgin_id.csv", index_col="Name")


## Creating Main Dictonary
player_dicts=[]

## DIsrtibutiing workload 
player_list=list(set(df["batsman"]))
total_players=len(player_list)


## Setting Processor Power 
thread_count=8
delta=total_players/thread_count


## Making thread list
thread_list=[]
for i in range(thread_count):
    start=math.floor(i*delta)
    end=math.floor( (i+1)*delta)
    
    ## We are dealing with python list which starts form 0 and not 1
    list_end=total_players-1
    
    if end > list_end:
        end=list_end
    
    
    t=threading.Thread(target=save_all, args=(player_list[start:end],))
    thread_list.append(t)
    
    
    print("Start:", start, "End:", end)
    print("Start:", player_list[start], "End:", player_list[end])

Start: 0 End: 57
Start: S Ladda End: TA Boult
Start: 57 End: 115
Start: TA Boult End: UT Khawaja
Start: 115 End: 172
Start: UT Khawaja End: S Sreesanth
Start: 172 End: 230
Start: S Sreesanth End: B Chipli
Start: 230 End: 288
Start: B Chipli End: AA Jhunjhunwala
Start: 288 End: 345
Start: AA Jhunjhunwala End: AC Gilchrist
Start: 345 End: 403
Start: AC Gilchrist End: SR Watson
Start: 403 End: 460
Start: SR Watson End: LA Pomersbach

## Starting thread now

In [36]:
## Starting Thread
import time

start_time=time.time()

for t in thread_list:
    t.start()


## Rejoining Thread
for t in thread_list:
    t.join()

end_time=time.time()

Started thread from: S Ladda to R Bhatia
Started thread from: TA Boult to AA Noffke
Started thread from: UT Khawaja to HM Amla
Started thread from: S Sreesanth to SB Jakati
Started thread from: B Chipli to KL Rahul
Started thread from: AA Jhunjhunwala to M Manhas
Started thread from: AC Gilchrist to L Ablish
Started thread from: SR Watson to Rashid Khan
Match Status Started for: S Ladda
Match Status Started for: TA Boult
Match Status Started for: S Sreesanth
Match Status Started for: B Chipli
Match Status Started for:Match Status Started for: UT Khawaja
 AA Jhunjhunwala

/home/boo/anaconda3/envs/tf_gpu/lib/python3.6/site-packages/ipykernel_launcher.py:6: RuntimeWarning: divide by zero encountered in long_scalars

Match Status Started for: AC Gilchrist
(array([1, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: KW Richardson
Match Status Started for: SR Watson
(array([2, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([3, 1, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([4, 2, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: DB Das
Match Status Started for: OA Shah
(array([12,  0,  0,  0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: MN van Wyk
(array([13,  1,  1,  0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: DP NannesMatch Status Started for: HH Gibbs

(array([18,  1,  2,  0]), array([  0,  25,  50,  75, 200]))
(array([2, 2, 0, 1]), array([  0,  25,  50,  75, 200]))
Match Status Started for: JJ Bumrah
(array([2, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: H Das
(array([18,  4,  0,  0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: PP Ojha
Match Status Started for:(array([12,  6,  3,  1]), array([  0,  25,  50,  75, 200])) S Rana

Match Status Started for: CR Woakes
(array([6, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([1, 0, 0, 0]), array([  0,  25,  50,  75, 200]))Match Status Started for: SK Trivedi

Match Status Started for: RT Ponting
(array([7, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: YA Abdulla
(array([19,  0,  0,  0]), array([  0,  25,  50,  75, 200]))
(array([8, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: T Taibu
(array([1, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: MEK Hussey
(array([8, 1, 0, 0]), array([  0,  25,  50,  75, 200]))(array([14,  0,  0,  0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: BCJ Cutting

(array([21,  7,  7,  1]), array([  0,  25,  50,  75, 200]))
(array([3, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for:Match Status Started for: RJ Quiney
 AB Dinda
Match Status Started for: MA Agarwal
Match Status Started for: J Theron
(array([43, 24,  8,  5]), array([  0,  25,  50,  75, 200]))
(array([7, 1, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([5, 1, 1, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: NV Ojha
Match Status Started for: LA Carseldine
(array([55, 26, 10,  7]), array([  0,  25,  50,  75, 200]))
Match Status Started for: DH Yagnik
Match Status Started for: KC Cariappa
(array([16,  0,  0,  0]), array([  0,  25,  50,  75, 200]))
(array([4, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: A Choudhary
(array([4, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([4, 1, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: DNT Zoysa
Match Status Started for: Joginder Sharma
Match Status Started for: AT Rayudu
(array([3, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([15,  2,  0,  0]), array([  0,  25,  50,  75, 200]))
(array([29, 11, 11,  7]), array([  0,  25,  50,  75, 200]))
(array([2, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: A Symonds
Match Status Started for: JJ Roy
Match Status Started for: CA Pujara
(array([5, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: SK Raina
Match Status Started for: MS Gony
(array([2, 1, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([33, 12,  3,  0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: RR Raje
Match Status Started for: A Chandila
(array([2, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([19, 11,  5,  1]), array([  0,  25,  50,  75, 200]))
(array([14,  1,  0,  0]), array([  0,  25,  50,  75, 200]))
(array([16,  5,  1,  0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: SB Bangar
Match Status Started for: BMAJ Mendis
Match Status Started for: GD McGrath
(array([5, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: Shivam Sharma
Match Status Started for: TM Head
(array([3, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([2, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([7, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([2, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([71, 16,  3,  3]), array([  0,  25,  50,  75, 200]))
Match Status Started for: A Zampa
Match Status Started for: AB McDonald
(array([6, 3, 0, 1]), array([  0,  25,  50,  75, 200]))
Match Status Started for: Q de Kock
Match Status Started for: SE MarshMatch Status Started for: BB Samantray

Match Status Started for: MS Bisla
(array([2, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([7, 2, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: RS Gavaskar
Match Status Started for: S Kaul
(array([1, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([6, 1, 1, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: Mohammad Hafeez
Match Status Started for: VVS Laxman
(array([14,  6,  5,  1]), array([  0,  25,  50,  75, 200]))
(array([3, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: BAW Mendis
(array([8, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: CM Gautam
Match Status Started for: RD Chahar
(array([26,  9,  1,  3]), array([  0,  25,  50,  75, 200]))
Match Status Started for: Ishan Kishan
(array([3, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([1, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([61, 28, 15,  1]), array([  0,  25,  50,  75, 200]))
Match Status Started for: J Suchith
Match Status Started for: KK Cooper(array([16,  3,  1,  0]), array([  0,  25,  50,  75, 200]))

(array([9, 4, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: R Shukla
Match Status Started for: Basil Thampi
Match Status Started for: AD Mathews
(array([10,  2,  0,  0]), array([  0,  25,  50,  75, 200]))(array([4, 1, 0, 0]), array([  0,  25,  50,  75, 200]))

Match Status Started for: HH Pandya
Match Status Started for:(array([4, 0, 0, 0]), array([  0,  25,  50,  75, 200])) SM Harwood

(array([5, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for:Match Status Started for: JE Taylor
 YS Chahal
(array([8, 5, 2, 0]), array([  0,  25,  50,  75, 200]))
(array([2, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for:(array([29, 18, 12, 10]), array([  0,  25,  50,  75, 200]))
 Shoaib Ahmed
Match Status Started for: MC Juneja
(array([2, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: B Lee
Match Status Started for: ND Doshi
(array([8, 0, 0, 0]), array([  0,  25,  50,  75, 200]))(array([3, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([1, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([6, 0, 1, 0]), array([  0,  25,  50,  75, 200]))

Match Status Started for: PM Sarvesh Kumar
Match Status Started for: Z Khan
(array([29, 10,  2,  0]), array([  0,  25,  50,  75, 200]))Match Status Started for:
 V Pratap Singh
(array([27,  5,  1,  0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: IR Jaggi
(array([18,  1,  0,  0]), array([  0,  25,  50,  75, 200]))
(array([1, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: BJ Hodge
(array([1, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: J Yadav
Match Status Started for: HV Patel
(array([5, 2, 0, 0]), array([  0,  25,  50,  75, 200]))Match Status Started for: G Gambhir

Match Status Started for: D du Preez
Match Status Started for: RV Uthappa
(array([2, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([1, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([74, 50, 21, 12]), array([  0,  25,  50,  75, 200]))
Match Status Started for: MV Boucher
(array([27,  0,  0,  0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: KMDN Kulasekara
Match Status Started for: T Kohli
Match Status Started for: RJ Peterson
(array([12,  0,  0,  0]), array([  0,  25,  50,  75, 200]))
(array([1, 0, 0, 0]), array([  0,  25,  50,  75, 200]))Match Status Started for: CK Kapugedera

(array([3, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([3, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: UT Yadav
(array([5, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([16,  5,  2,  0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: SC Ganguly

Match Status Started for: KM Jadhav
Match Status Started for: SS Iyer
Match Status Started for: AC Thomas
(array([34, 23,  5,  1]), array([  0,  25,  50,  75, 200]))
(array([4, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: NM Coulter-Nile
(array([22,  1,  0,  0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: S Badrinath
Match Status Started for: BR Dunk
(array([11,  0,  0,  0]), array([  0,  25,  50,  75, 200]))
(array([3, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([18,  8,  4,  2]), array([  0,  25,  50,  75, 200]))
Match Status Started for: C Madan
Match Status Started for: TR Birt
(array([1, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: UBT Chand
Match Status Started for: M Rawat
(array([4, 1, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([39, 15,  3,  0]), array([  0,  25,  50,  75, 200]))
(array([31, 16,  5,  4]), array([  0,  25,  50,  75, 200]))
Match Status Started for:Match Status Started for: AL Menaria
 SV Samson
Match Status Started for: P Parameswaran
(array([10,  1,  0,  0]), array([  0,  25,  50,  75, 200]))
(array([16,  3,  1,  0]), array([  0,  25,  50,  75, 200]))
(array([2, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: KV Sharma
Match Status Started for: GJ Maxwell
Match Status Started for: KA Pollard
(array([37, 16, 12,  0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: S Sriram
(array([15,  8,  0,  0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: KH Pandya
(array([1, 1, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: WA Mota
(array([31,  3,  0,  0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: P Dogra
(array([7, 1, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([40, 13,  6,  3]), array([  0,  25,  50,  75, 200]))
(array([36, 12,  3,  4]), array([  0,  25,  50,  75, 200]))
(array([10,  2,  0,  0]), array([  0,  25,  50,  75, 200]))
(array([11,  5,  2,  1]), array([  0,  25,  50,  75, 200]))
Match Status Started for: K Upadhyay
Match Status Started for: FH Edwards
Match Status Started for: DAJ Bracewell
Match Status Started for: T Henderson
(array([74, 45, 18,  6]), array([  0,  25,  50,  75, 200]))
Match Status Started for: AS Raut
(array([2, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([2, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([1, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([2, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: Swapnil SinghMatch Status Started for: AS Rajpoot

Match Status Started for: KJ Abbott
Match Status Started for: RA Jadeja
Match Status Started for: SL Malinga
(array([79, 30, 27, 10]), array([  0,  25,  50,  75, 200]))
(array([12,  4,  0,  0]), array([  0,  25,  50,  75, 200]))
(array([3, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([2, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for:Match Status Started for: SS Shaikh
 NL McCullum
(array([3, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: PA Reddy
Match Status Started for: JD Ryder
Match Status Started for: Vishnu Vinod
(array([2, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([1, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: AR Patel
(array([6, 4, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: DS Lehmann
(array([20,  0,  0,  0]), array([  0,  25,  50,  75, 200]))
(array([3, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: FY Fazal
Match Status Started for: TG Southee
(array([20,  5,  3,  1]), array([  0,  25,  50,  75, 200]))
Match Status Started for: DS Kulkarni
(array([2, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: CH Gayle
Match Status Started for: AG Murtaza
(array([74, 25, 12,  1]), array([  0,  25,  50,  75, 200]))
(array([8, 3, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: SB Joshi
Match Status Started for: RV Gomez
(array([7, 1, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([3, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([15,  1,  0,  0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: RJ Harris
Match Status Started for: P Kumar
(array([32, 10,  0,  0]), array([  0,  25,  50,  75, 200]))
(array([2, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: DJ Jacobs
Match Status Started for: MM Sharma
Match Status Started for: MD Mishra
(array([8, 1, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([6, 1, 0, 0]), array([  0,  25,  50,  75, 200]))Match Status Started for: Sachin Baby

(array([21,  0,  0,  0]), array([  0,  25,  50,  75, 200]))
(array([12,  5,  0,  0]), array([  0,  25,  50,  75, 200]))
(array([20,  0,  0,  0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: TL Suman
Match Status Started for: DJ Bravo
(array([7, 3, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: JO Holder
(array([82, 25,  1,  0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: MM Patel
Match Status Started for: Gurkeerat Singh
Match Status Started for: DL Vettori
(array([5, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([55,  2,  0,  0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: CJ Jordan
Match Status Started for: LMP Simmons
(array([12,  0,  0,  0]), array([  0,  25,  50,  75, 200]))
(array([2, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([14,  2,  0,  0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: R Dhawan
Match Status Started for: IK Pathan
Match Status Started for: VS Malik
(array([29,  8,  1,  1]), array([  0,  25,  50,  75, 200]))
(array([17,  6,  1,  0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: PC Valthaty
(array([2, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: JP Duminy
(array([15,  1,  0,  0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: Umar Gul
Match Status Started for: JR Hopes
(array([12,  4, 12,  1]), array([  0,  25,  50,  75, 200]))
Match Status Started for: DJ Muthuswami
(array([3, 1, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: Mashrafe Mortaza
(array([18,  1,  2,  2]), array([  0,  25,  50,  75, 200]))
Match Status Started for: Shahid Afridi
(array([1, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([1, 0, 0, 0]), array([  0,  25,  50,  75, 200]))(array([47, 22, 10, 21]), array([  0,  25,  50,  75, 200]))

Match Status Started for: (array([13,  2,  4,  0]), array([  0,  25,  50,  75, 200]))
MS WadeMatch Status Started for: Mohammad AshrafulMatch Status Started for: DE Bollinger


(array([64, 13,  4,  0]), array([  0,  25,  50,  75, 200]))
(array([8, 1, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: CH Morris
Match Status Started for: W Jaffer
Match Status Started for: WP Saha
(array([3, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([1, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([4, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: SM Katich
Match Status Started for: SB Styris
Match Status Started for: SS Tiwary
(array([6, 1, 1, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: WPUJC Vaas
(array([8, 2, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([22,  4,  1,  1]), array([  0,  25,  50,  75, 200]))
(array([66, 15,  1,  0]), array([  0,  25,  50,  75, 200]))
(array([8, 1, 1, 1]), array([  0,  25,  50,  75, 200]))
Match Status Started for: DM Bravo
Match Status Started for: JDS Neesham
Match Status Started for: JD Unadkat
(array([11,  0,  0,  0]), array([  0,  25,  50,  75, 200]))
(array([1, 0, 0, 0]), array([  0,  25,  50,  75, 200]))(array([40, 17, 15,  1]), array([  0,  25,  50,  75, 200]))

Match Status Started for: NJ Rimmington
Match Status Started for:Match Status Started for: A Mishra
 YV Takawale
Match Status Started for: AM Rahane
(array([5, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([3, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for:Match Status Started for: JP Faulkner
 PSP Handscomb
(array([1, 0, 0, 0]), array([  0,  25,  50,  75, 200]))(array([1, 0, 0, 0]), array([  0,  25,  50,  75, 200]))

Match Status Started for: PR Shah
(array([6, 4, 0, 0]), array([  0,  25,  50,  75, 200]))

Match Status Started for: L Ronchi
Match Status Started for: Ankit Soni
(array([41, 16,  7,  0]), array([  0,  25,  50,  75, 200]))
(array([5, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([8, 1, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([56, 15,  5,  2]), array([  0,  25,  50,  75, 200]))
(array([3, 0, 0, 0]), array([  0,  25,  50,  75, 200]))Match Status Started for: DR Smith

(array([45,  4,  0,  0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: AD Nath
Match Status Started for: BE Hendricks
Match Status Started for: AN Ghosh
Match Status Started for: Niraj Patel
Match Status Started for: S Anirudha
(array([4, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([2, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([38,  6,  1,  0]), array([  0,  25,  50,  75, 200]))
(array([2, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: P Sahu
Match Status Started for: LR Shukla
Match Status Started for: Mohammad Asif
Match Status Started for: R Ninan
(array([4, 1, 1, 0]), array([  0,  25,  50,  75, 200]))
(array([9, 2, 1, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: SW Tait
(array([2, 0, 0, 0]), array([  0,  25,  50,  75, 200]))(array([2, 0, 0, 0]), array([  0,  25,  50,  75, 200]))

(array([1, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: K Rabada
Match Status Started for:Match Status Started for: MDKJ Perera
 A Mithun
Match Status Started for: SM Pollock
(array([5, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([6, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: PV Tambe
(array([2, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([2, 1, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([5, 3, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: TD Paine
(array([29,  3,  1,  0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: Iqbal Abdulla
Match Status Started for: B Laughlin
Match Status Started for: Match Status Started for: GR Napier
MN Samuels
(array([6, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([2, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([2, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([1, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: SP Fleming
Match Status Started for: Ankit Sharma
(array([12,  1,  0,  0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: SPD Smith
Match Status Started for: S Dhawan
(array([10,  3,  1,  0]), array([  0,  25,  50,  75, 200]))
Match Status Started for:Match Status Started for: A Uniyal
 K Goel
(array([8, 2, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([6, 4, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([2, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: VRV Singh
Match Status Started for: JC Buttler
Match Status Started for: SA Yadav
(array([2, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for:(array([13,  3,  0,  0]), array([  0,  25,  50,  75, 200])) NJ Maddinson

(array([45, 23, 17,  3]), array([  0,  25,  50,  75, 200]))
Match Status Started for: AA Chavan
Match Status Started for: DJ Hooda
(array([59, 19, 20,  7]), array([  0,  25,  50,  75, 200]))
(array([3, 0, 0, 0]), array([  0,  25,  50,  75, 200]))

/home/boo/anaconda3/envs/tf_gpu/lib/python3.6/site-packages/ipykernel_launcher.py:6: RuntimeWarning: invalid value encountered in long_scalars

Match Status Started for: U Kaul
(array([12, 11,  0,  1]), array([  0,  25,  50,  75, 200]))
(array([3, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: MK Pandey
(array([1, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: SD Chitnis
(array([33,  8,  1,  0]), array([  0,  25,  50,  75, 200]))Match Status Started for: MS Dhoni
Match Status Started for: S Nadeem

(array([27,  2,  1,  0]), array([  0,  25,  50,  75, 200]))(array([7, 1, 0, 0]), array([  0,  25,  50,  75, 200]))

(array([27, 27,  5,  3]), array([  0,  25,  50,  75, 200]))
Match Status Started for: R Sathish
Match Status Started for: TM Srivastava
Match Status Started for: AP Dole
Match Status Started for: R Dravid
(array([16,  0,  0,  0]), array([  0,  25,  50,  75, 200]))
Match Status Started for:(array([1, 1, 0, 0]), array([  0,  25,  50,  75, 200])) P Awana
(array([3, 0, 0, 0]), array([  0,  25,  50,  75, 200]))

Match Status Started for: I Sharma
Match Status Started for: R McLaren
(array([21,  3,  0,  0]), array([  0,  25,  50,  75, 200]))
(array([5, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: M Kaif
Match Status Started for: JM Kemp
(array([17,  0,  0,  0]), array([  0,  25,  50,  75, 200]))
(array([10,  2,  1,  0]), array([  0,  25,  50,  75, 200]))
(array([2, 0, 0, 0]), array([  0,  25,  50,  75, 200]))Match Status Started for: VH Zol

Match Status Started for: JDP Oram
Match Status Started for: Sohail Tanvir
(array([20,  2,  0,  0]), array([  0,  25,  50,  75, 200]))
(array([5, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([2, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: A Singh
Match Status Started for: AJ Tye
Match Status Started for: S Kaushik
(array([10,  1,  0,  0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: R Vinay Kumar
(array([1, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([5, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: RP Singh
(array([2, 1, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: AUK PathanMatch Status Started for: D Salunkhe

(array([60, 22,  8,  5]), array([  0,  25,  50,  75, 200]))
(array([7, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([2, 1, 0, 0]), array([  0,  25,  50,  75, 200]))(array([63, 32, 25,  6]), array([  0,  25,  50,  75, 200]))

Match Status Started for: C Munro
Match Status Started for: MG Johnson
(array([28,  0,  0,  0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: BA Bhatt
Match Status Started for: Abdur Razzak
(array([40, 30, 11,  1]), array([  0,  25,  50,  75, 200]))
(array([2, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: M Vohra
Match Status Started for: TS Mills
(array([1, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: F Behardien
(array([38,  3,  0,  0]), array([  0,  25,  50,  75, 200]))
(array([3, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([3, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: SP Jackson
Match Status Started for: PP Chawla
Match Status Started for: SA Asnodkar
Match Status Started for: T Thushara
(array([3, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([3, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: Sunny Gupta
(array([26,  0,  0,  0]), array([  0,  25,  50,  75, 200]))
(array([4, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: DA Warner
(array([1, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: DB Ravi Teja
Match Status Started for: RN ten Doeschate
Match Status Started for: AM Nayar
(array([10,  7,  2,  0]), array([  0,  25,  50,  75, 200]))
(array([72, 52, 19,  0]), array([  0,  25,  50,  75, 200]))
(array([21, 16,  3,  1]), array([  0,  25,  50,  75, 200]))
Match Status Started for: SE Bond
Match Status Started for:Match Status Started for: JEC Franklin
 ML Hayden
(array([1, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: SP Narine
(array([16,  4,  1,  0]), array([  0,  25,  50,  75, 200]))
(array([18,  6,  1,  0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: RA Tripathi
(array([10,  5,  0,  1]), array([  0,  25,  50,  75, 200]))
Match Status Started for: PA Patel
(array([63,  2,  0,  0]), array([  0,  25,  50,  75, 200]))
(array([37, 13,  0,  0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: M Vijay
(array([26,  3,  1,  0]), array([  0,  25,  50,  75, 200]))
(array([6, 6, 1, 1]), array([  0,  25,  50,  75, 200]))Match Status Started for: RE van der Merwe

Match Status Started for: AD Russell
(array([13,  9,  4,  6]), array([  0,  25,  50,  75, 200]))
Match Status Started for: KP Appanna
Match Status Started for: AC Voges
Match Status Started for: A Chopra
(array([3, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: VS Yeligati
(array([13,  2,  0,  0]), array([  0,  25,  50,  75, 200]))
(array([5, 1, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([3, 4, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([1, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for:Match Status Started for: SN Thakur
 LH Ferguson
Match Status Started for: Y Nagar
Match Status Started for: KD Karthik
(array([1, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([4, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([15,  6,  4,  0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: GH Vihari
Match Status Started for:Match Status Started for:  Yuvraj Singh
DT Patil
(array([17,  3,  0,  0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: SN Khan
(array([2, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: MF Maharoof
(array([7, 4, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for:(array([17,  4,  0,  0]), array([  0,  25,  50,  75, 200]))
KAJ Roach
Match Status Started for: NS Naik
(array([1, 1, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([1, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([12,  2,  0,  0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: A Flintoff
Match Status Started for: MR Marsh
(array([51, 22, 25, 16]), array([  0,  25,  50,  75, 200]))
Match Status Started for: R Rampaul
Match Status Started for: L Balaji
(array([2, 1, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([10,  4,  0,  0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: R Ashwin
(array([6, 1, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([13,  0,  0,  0]), array([  0,  25,  50,  75, 200]))Match Status Started for: M Klinger

Match Status Started for: Shoaib Malik
Match Status Started for: TM Dilshan
(array([56, 28, 10,  5]), array([  0,  25,  50,  75, 200]))
(array([3, 1, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: S Chanderpaul
(array([76, 30,  9,  1]), array([  0,  25,  50,  75, 200]))
(array([4, 1, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: DW Steyn
Match Status Started for: Harpreet Singh
Match Status Started for: S Randiv
(array([3, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: Kamran Khan
(array([3, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: S Badree
(array([1, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([1, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([35,  1,  0,  0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: Parvez Rasool
(array([5, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: MJ Guptill
Match Status Started for: GC Smith
Match Status Started for: KP Pietersen
(array([4, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([32,  0,  0,  0]), array([  0,  25,  50,  75, 200]))
(array([71, 32, 12,  1]), array([  0,  25,  50,  75, 200]))
(array([30, 10,  8,  2]), array([  0,  25,  50,  75, 200]))
Match Status Started for: MJ Lumb
Match Status Started for: M Ntini
Match Status Started for: M Ashwin
(array([7, 1, 2, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: MC Henriques
Match Status Started for: Harbhajan Singh
(array([1, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([2, 0, 0, 0]), array([  0,  25,  50,  75, 200]))

(array([7, 3, 1, 1]), array([  0,  25,  50,  75, 200]))
Match Status Started for:Match Status Started for: B Kumar
 RS Sodhi
Match Status Started for: AJ Finch
(array([83, 35, 14,  2]), array([  0,  25,  50,  75, 200]))(array([16,  7,  3,  3]), array([  0,  25,  50,  75, 200]))

Match Status Started for: AA Bilakhia
(array([1, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: AB Agarkar
Match Status Started for: ST Jayasuriya
(array([18, 12,  5,  1]), array([  0,  25,  50,  75, 200]))
Match Status Started for: CK Langeveldt
(array([6, 1, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([32,  1,  0,  0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: MK Tiwary
(array([2, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: JA Morkel
(array([33, 12,  4,  1]), array([  0,  25,  50,  75, 200]))
(array([17,  1,  0,  0]), array([  0,  25,  50,  75, 200]))
Match Status Started for:Match Status Started for: P Negi
 Jaskaran Singh
Match Status Started for: GJ Bailey
(array([16,  8,  5,  1]), array([  0,  25,  50,  75, 200]))
(array([4, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: BJ Haddin
Match Status Started for: MJ Clarke
(array([24,  5,  0,  0]), array([  0,  25,  50,  75, 200]))
(array([1, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([72,  8,  2,  0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: LRPL Taylor
Match Status Started for: SA Abbott
(array([5, 1, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([38, 11, 10,  5]), array([  0,  25,  50,  75, 200]))
Match Status Started for: RR Pant
Match Status Started for: UA Birla
Match Status Started for: Pankaj Singh
(array([2, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([25,  9,  2,  0]), array([  0,  25,  50,  75, 200]))
(array([1, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: RR Sarwan
(array([5, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: CR Brathwaite
Match Status Started for: RR Bhatkal
Match Status Started for: KC Sangakkara
(array([14,  7,  2,  1]), array([  0,  25,  50,  75, 200]))
(array([3, 1, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([1, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([55,  9,  2,  1]), array([  0,  25,  50,  75, 200]))
Match Status Started for: R Tewatia
Match Status Started for: AN Ahmed
Match Status Started for: DJ Thornely
Match Status Started for: SB Wagh
(array([7, 1, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([6, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: B Akhil
(array([49, 23,  6,  1]), array([  0,  25,  50,  75, 200]))(array([3, 0, 0, 0]), array([  0,  25,  50,  75, 200]))

(array([2, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([39, 10,  4,  1]), array([  0,  25,  50,  75, 200]))
Match Status Started for: SW Billings
Match Status Started for: VR AaronMatch Status Started for: DJ Hussey

Match Status Started for: M Kartik
Match Status Started for: KB Arun Karthik
(array([3, 1, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for:(array([10,  1,  0,  0]), array([  0,  25,  50,  75, 200]))
 (array([5, 3, 2, 0]), array([  0,  25,  50,  75, 200]))
BB Sran
Match Status Started for: Kuldeep Yadav
Match Status Started for: R Sharma
(array([7, 1, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([2, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([9, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([14,  0,  0,  0]), array([  0,  25,  50,  75, 200]))
(array([3, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: JJ van der Wath
Match Status Started for: Y Gnaneswara Rao
Match Status Started for: Yashpal Singh
Match Status Started for: Shoaib Akhtar
Match Status Started for: NLTC Perera
(array([4, 0, 0, 0]), array([  0,  25,  50,  75, 200]))(array([1, 0, 0, 0]), array([  0,  25,  50,  75, 200]))

(array([3, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([1, 0, 0, 0]), array([  0,  25,  50,  75, 200]))Match Status Started for:
PJ Cummins
Match Status Started for: Sunny Singh
(array([19,  0,  0,  0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: DJG Sammy
Match Status Started for: J Botha
Match Status Started for: CL White
(array([37, 18, 11,  2]), array([  0,  25,  50,  75, 200]))
(array([9, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([5, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: MJ McClenaghan
Match Status Started for: SR Tendulkar
Match Status Started for: F du Plessis
(array([39, 17,  4,  1]), array([  0,  25,  50,  75, 200]))(array([16,  3,  1,  0]), array([  0,  25,  50,  75, 200]))

(array([24,  6,  0,  0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: DP Vijaykumar
Match Status Started for: C Nanda
Match Status Started for: Karanveer Singh
(array([1, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([24,  3,  1,  0]), array([  0,  25,  50,  75, 200]))
(array([1, 0, 0, 0]), array([  0,  25,  50,  75, 200]))(array([12,  0,  0,  0]), array([  0,  25,  50,  75, 200]))

Match Status Started for: DR Martyn
Match Status Started for:Match Status Started for:  J Syed MohammadR Bishnoi

Match Status Started for: Y Venugopal Rao
(array([4, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([1, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([3, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([5, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: LJ Wright
Match Status Started for: Imran Tahir
Match Status Started for: BJ Rohrer
Match Status Started for: STR Binny
(array([28, 11,  3,  3]), array([  0,  25,  50,  75, 200]))
Match Status Started for: I Malhotra
(array([6, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([3, 2, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([22, 16,  7,  1]), array([  0,  25,  50,  75, 200]))
Match Status Started for:(array([5, 2, 1, 0]), array([  0,  25,  50,  75, 200]))
 RE Levi
Match Status Started for:Match Status Started for:  S Narwal
D Wiese
(array([1, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: S Tyagi
Match Status Started for: A Mukund
(array([4, 1, 1, 0]), array([  0,  25,  50,  75, 200]))
(array([4, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([1, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: RR Powar
(array([6, 2, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([2, 0, 0, 0]), array([  0,  25,  50,  75, 200]))Match Status Started for:
 Harmeet Singh
Match Status Started for: Washington Sundar
Match Status Started for: RG More
Match Status Started for: RG Sharma
(array([4, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([1, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: (array([33, 15,  3,  1]), array([  0,  25,  50,  75, 200]))
Anureet Singh(array([5, 0, 0, 0]), array([  0,  25,  50,  75, 200]))

Match Status Started for: IC Pandey
Match Status Started for: BA Stokes
(array([8, 1, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: SK Warne
(array([45, 11,  0,  0]), array([  0,  25,  50,  75, 200]))
(array([1, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: AP Majumdar
Match Status Started for:(array([34, 26, 13,  5]), array([  0,  25,  50,  75, 200])) EJG Morgan

(array([7, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: KS Williamson
(array([2, 2, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for:(array([6, 3, 1, 1]), array([  0,  25,  50,  75, 200]))
 AS Yadav
Match Status Started for: MP Stoinis
Match Status Started for: RR Rossouw
Match Status Started for: Bipul Sharma
(array([6, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: ER Dwivedi
(array([26,  1,  0,  0]), array([  0,  25,  50,  75, 200]))
(array([5, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([4, 3, 1, 0]), array([  0,  25,  50,  75, 200]))
(array([2, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: Mandeep Singh
Match Status Started for: C de Grandhomme
(array([15,  2,  0,  0]), array([  0,  25,  50,  75, 200]))
Match Status Started for:Match Status Started for: AB de Villiers
 AF Milne
(array([6, 6, 2, 1]), array([  0,  25,  50,  75, 200]))

Match Status Started for: PD Collingwood
Match Status Started for: LPC Silva
(array([31,  9,  5,  0]), array([  0,  25,  50,  75, 200]))
(array([3, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([3, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: CJ Ferguson
Match Status Started for: (array([6, 3, 0, 0]), array([  0,  25,  50,  75, 200]))
CRD Fernando
Match Status Started for: DA Miller
(array([4, 0, 2, 1]), array([  0,  25,  50,  75, 200]))
Match Status Started for: N Rana
(array([2, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: VY Mahesh
Match Status Started for: KK Nair
(array([8, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([5, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: A Nehra
Match Status Started for: S Aravind
(array([7, 4, 4, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: Rashid Khan
(array([3, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([10,  0,  0,  0]), array([  0,  25,  50,  75, 200]))
(array([17,  0,  0,  0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: V Shankar
(array([38, 15,  3,  2]), array([  0,  25,  50,  75, 200]))
Match Status Started for: Misbah-ul-Haq
Match Status Started for: AB Barath
(array([2, 1, 1, 0]), array([  0,  25,  50,  75, 200]))
(array([6, 2, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: M Morkel(array([2, 1, 0, 0]), array([  0,  25,  50,  75, 200]))

(array([32,  9,  8,  1]), array([  0,  25,  50,  75, 200]))(array([36, 18,  7,  3]), array([  0,  25,  50,  75, 200]))

Match Status Started for: PJ Sangwan
Match Status Started for: Match Status Started for:DPMD Jayawardene
 Shakib Al Hasan
Match Status Started for: Azhar Mahmood
(array([12,  0,  0,  0]), array([  0,  25,  50,  75, 200]))
(array([20,  0,  0,  0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: CJ McKay
Match Status Started for: BB McCullum
(array([1, 0, 0, 0]), array([  0,  25,  50,  75, 200]))(array([15,  4,  1,  1]), array([  0,  25,  50,  75, 200]))

Match Status Started for: Younis Khan
Match Status Started for: AP Tare
(array([25,  5,  2,  0]), array([  0,  25,  50,  75, 200]))
(array([1, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: AC Blizzard
Match Status Started for: RS Bopara
(array([62, 30, 17,  9]), array([  0,  25,  50,  75, 200]))
Match Status Started for:(array([5, 1, 1, 0]), array([  0,  25,  50,  75, 200])) M de Lange

Match Status Started for: GB Hogg
(array([23,  3,  1,  0]), array([  0,  25,  50,  75, 200]))
(array([1, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([83, 34, 27,  9]), array([  0,  25,  50,  75, 200]))
Match Status Started for:(array([52, 15,  8,  3]), array([  0,  25,  50,  75, 200]))
 S Gopal(array([4, 0, 0, 0]), array([  0,  25,  50,  75, 200]))

Match Status Started for: WD Parnell
Match Status Started for: B Sumanth
Match Status Started for: V Kohli
(array([14,  5,  1,  2]), array([  0,  25,  50,  75, 200]))
Match Status Started for: R Bhatia
(array([3, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: J Arunkumar
(array([4, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: SMSM Senanayake
(array([12,  0,  0,  0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: Mohammad Nabi
Match Status Started for: Anirudh Singh
(array([1, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([4, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([3, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([3, 1, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: A Ashish Reddy
Match Status Started for: MA Starc
Match Status Started for: SJ Srivastava
Match Status Started for: KL Rahul
(array([46,  1,  0,  0]), array([  0,  25,  50,  75, 200]))
(array([4, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([10,  1,  0,  0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: DL ChaharMatch Status Started for: DJ Harris

(array([21,  2,  0,  0]), array([  0,  25,  50,  75, 200]))(array([1, 0, 0, 0]), array([  0,  25,  50,  75, 200]))

Match Status Started for: SP Goswami
Match Status Started for: CA Ingram
(array([17,  8,  5,  0]), array([  0,  25,  50,  75, 200]))
(array([2, 2, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([58, 25, 12,  8]), array([  0,  25,  50,  75, 200]))
(array([3, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: AG Paunikar
Match Status Started for:(array([14,  1,  1,  0]), array([  0,  25,  50,  75, 200])) Match Status Started for:
D Kalyankrishna
X Thalaivan Sargunam
(array([5, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([1, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([1, 0, 0, 0]), array([  0,  25,  50,  75, 200]))Match Status Started for:
 Mohammed Shami
Match Status Started for: YK Pathan
Match Status Started for: M Muralitharan
Match Status Started for: JH Kallis
(array([9, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: Kamran Akmal
(array([13,  0,  0,  0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: S Vidyut
(array([5, 0, 1, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: CA Lynn
(array([6, 1, 1, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: AD Mascarenhas
(array([6, 3, 1, 2]), array([  0,  25,  50,  75, 200]))
Match Status Started for: Salman Butt
(array([10,  1,  0,  0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: A Kumble
(array([3, 2, 1, 1]), array([  0,  25,  50,  75, 200]))
Match Status Started for: L Ablish
(array([15,  0,  0,  0]), array([  0,  25,  50,  75, 200]))
(array([1, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: SB Jakati
(array([51, 26, 15,  3]), array([  0,  25,  50,  75, 200]))
(array([71, 34, 23, 13]), array([  0,  25,  50,  75, 200]))
(array([5, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: CJ Anderson
Match Status Started for: MA Khote
(array([3, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: AA Noffke
(array([1, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
(array([19,  4,  2,  1]), array([  0,  25,  50,  75, 200]))(array([88, 25, 19,  1]), array([  0,  25,  50,  75, 200]))

Match Status Started for: AR Bawne
Match Status Started for: HM Amla
(array([1, 0, 0, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: Sandeep Sharma
(array([8, 3, 2, 3]), array([  0,  25,  50,  75, 200]))
(array([11,  0,  0,  0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: N Saini
(array([8, 1, 1, 0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: DT Christian
(array([23,  8,  0,  0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: V Sehwag
(array([61, 24,  6, 13]), array([  0,  25,  50,  75, 200]))
Match Status Started for: S Sohal
(array([12,  6,  2,  0]), array([  0,  25,  50,  75, 200]))
Match Status Started for: M Manhas
(array([29,  9,  0,  0]), array([  0,  25,  50,  75, 200]))

In [37]:
pda=pd.DataFrame(player_dicts)

# Removing batsman with Inf or Zero batting avergae

In [38]:
pda=pda[ pda["batting_average"]!=0]
pda=pda[ pda["batting_average"]!=np.inf]
pda=pda[ pda["batting_average"]!=np.inf]
pda=pda[ pda["most_runs"]>4]

In [39]:
pda

,0-25s,25-50s,4s,50-75s,6s,75-200s,batting_average,bowled,caught,caught and bowled,...,no_of_matches,obstructing the field,origin,profile_id,retired hurt,run out,strike_rate,stumped,type,winning_percentage
2,3,1,2,0,1,0,12.000000,0,2,1,...,4,0,australia,272262,0,0,92.307692,0,batsman,0.00
3,4,2,14,0,3,0,22.333333,0,3,0,...,6,0,australia,215155,0,1,127.619048,1,batsman,50.00
4,12,0,7,0,0,0,11.000000,1,1,0,...,14,0,india,34274,0,0,77.192982,0,batsman,21.43
5,13,1,20,1,5,0,18.076923,2,8,0,...,16,0,india,29702,0,4,107.798165,0,batsman,31.25
6,18,1,29,2,7,0,19.466667,4,10,0,...,21,0,india,27685,0,1,114.062500,0,batsman,28.57
7,2,2,18,0,1,1,58.333333,1,2,0,...,5,0,southafrica,47711,0,0,129.629630,0,batsman,0.00
9,18,4,23,0,16,0,22.928571,4,4,1,...,22,0,india,328163,0,0,120.224719,0,batsman,27.27
10,12,6,35,3,23,1,36.666667,3,5,0,...,22,0,england,20123,0,3,135.802469,2,batsman,36.36
11,6,0,1,0,1,0,13.000000,0,1,0,...,7,0,india,625383,0,2,96.296296,0,batsman,28.57
13,7,0,4,0,1,0,11.500000,0,2,0,...,7,0,england,247235,0,0,97.872340,1,batsman,42.86
14,19,0,0,0,0,0,1.833333,3,5,0,...,23,0,india,32130,0,2,48.888889,0,batsman,17.39
15,8,0,9,0,1,0,24.000000,3,1,0,...,8,0,india,33757,0,1,117.073171,0,batsman,25.00
17,8,1,7,0,2,0,11.555556,0,5,1,...,9,0,australia,7133,0,0,80.620155,1,batsman,55.56
18,14,0,3,0,1,0,6.714286,4,3,0,...,15,0,india,35353,0,1,77.049180,0,batsman,13.33
19,21,7,84,7,31,1,29.843750,7,16,1,...,36,0,southafrica,45224,0,3,114.097969,2,batsman,41.67
20,3,0,3,0,0,0,10.333333,0,2,0,...,3,0,zimbabwe,55805,0,1,119.230769,0,batsman,100.00
21,43,24,240,8,92,5,29.144737,12,53,2,...,80,0,australia,5390,0,2,142.443730,3,batsman,45.00
22,7,1,9,0,10,0,27.000000,1,2,0,...,8,0,australia,230371,0,1,192.857143,1,batsman,75.00
23,5,1,13,1,3,0,16.285714,1,4,0,...,7,0,australia,211854,0,0,108.571429,0,batsman,42.86
24,55,26,259,10,122,7,32.282353,27,44,1,...,98,0,australia,8180,0,7,140.790149,3,batsman,50.00
25,4,0,1,0,0,0,5.500000,0,1,0,...,4,0,southafrica,223642,0,1,84.615385,0,batsman,25.00
26,16,0,2,0,0,0,3.000000,3,4,0,...,17,0,india,227712,0,1,60.000000,0,batsman,0.00
27,4,0,0,0,1,0,5.000000,3,0,0,...,4,0,india,777537,0,0,83.333333,0,batsman,25.00
28,4,1,11,0,0,0,21.750000,0,0,0,...,5,0,australia,4541,0,1,122.535211,1,batsman,60.00
29,3,0,1,0,1,0,25.000000,0,1,0,...,3,0,india,527299,0,1,125.000000,0,batsman,0.00
30,15,2,23,0,2,0,18.700000,4,3,2,...,17,0,india,36071,0,0,131.690141,0,batsman,23.53
31,29,11,200,11,52,7,40.470588,15,29,0,...,58,0,australia,5939,0,5,125.242718,1,batsman,63.79
32,2,0,1,0,0,0,13.000000,1,0,0,...,2,0,srilanka,51050,0,0,144.444444,0,batsman,0.00
33,5,0,1,0,2,0,9.000000,1,1,1,...,6,0,india,29976,0,1,120.000000,0,batsman,0.00
34,2,1,9,0,1,0,30.000000,0,2,0,...,3,0,england,298438,0,0,146.341463,0,batsman,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,1,0,0,0,2,0,14.000000,0,1,0,...,1,0,india,447261,0,0,233.333333,0,batsman,0.00
428,17,8,61,5,24,0,31.791667,7,14,0,...,30,0,india,422108,0,3,128.885135,0,batsman,40.00
429,2,2,11,0,5,0,29.750000,0,3,0,...,4,0,australia,5583,0,0,115.533981,0,batsman,0.00
430,58,25,278,12,123,8,30.255102,16,58,1,...,103,0,newzealand,37737,0,6,135.946813,3,batsman,51.46
431,3,0,3,0,0,0,13.500000,1,1,0,...,3,0,southafrica,45705,0,0,103.846154,0,batsman,0.00
432,14,1,26,1,2,0,16.733333,2,12,0,...,16,0,india,302579,0,1,96.538462,0,batsman,37.50
433,5,0,9,0,0,0,11.200000,1,3,0,...,5,0,india,324444,0,0,91.803279,1,batsman,40.00
435,1,0,0,0,0,0,10.000000,0,0,1,...,1,0,india,319744,0,0,58.823529,0,batsman,0.00
436,9,0,1,0,0,0,3.666667,1,2,0,...,9,0,southafrica,46538,0,2,73.333333,0,batsman,22.22
437,13,0,4,0,2,0,7.000000,1,5,0,...,13,0,india,481896,0,0,106.521739,1,batsman,23.08
438,5,0,12,1,8,0,26.400000,0,3,0,...,6,0,pakistan,41028,0,1,169.230769,0,batsman,83.33
439,6,1,22,1,3,0,19.500000,0,8,0,...,8,0,india,35619,0,0,135.652174,0,batsman,37.50
440,6,3,31,1,23,2,41.000000,3,5,0,...,12,0,australia,326637,0,1,157.692308,0,batsman,50.00
441,10,1,5,0,1,0,9.000000,3,4,0,...,11,0,england,16932,0,3,102.531646,0,batsman,27.27
442,3,2,30,1,2,1,30.142857,1,4,0,...,7,0,pakistan,42683,0,0,122.674419,0,batsman,42.86
443,15,0,4,0,0,0,14.000000,1,1,0,...,17,0,india,30176,0,0,85.714286,0,batsman,11.76
445,51,26,257,15,44,3,30.200000,16,60,1,...,96,0,southafrica,45789,0,9,112.047141,0,batsman,50.00
446,71,34,388,23,159,13,38.881356,24,76,2,...,141,0,india,253802,0,14,131.310819,3,batsman,47.48
447,5,0,3,0,0,0,29.000000,0,1,0,...,8,0,india,29655,0,1,96.666667,0,batsman,25.00
448,3,0,2,0,1,0,13.500000,0,1,0,...,3,0,india,30220,0,0,122.727273,0,batsman,0.00
449,1,0,1,0,0,0,11.000000,0,0,0,...,1,0,australia,6938,0,1,91.666667,0,batsman,0.00
450,88,25,242,19,149,1,31.285714,8,68,3,...,133,1,india,32498,0,12,147.687861,2,batsman,52.63
451,19,4,40,2,30,1,28.526316,3,9,0,...,26,0,newzealand,36189,0,3,130.917874,3,batsman,34.62
453,8,3,60,2,21,3,46.153846,0,8,1,...,16,0,southafrica,43906,0,1,143.540670,0,batsman,43.75
454,11,0,1,0,0,0,29.000000,0,0,1,...,13,0,india,34508,0,0,80.555556,0,batsman,15.38
455,8,1,16,1,0,0,14.500000,1,5,2,...,10,0,india,700167,0,1,101.398601,0,batsman,60.00
456,23,8,22,0,17,0,19.086957,4,13,0,...,31,0,australia,4864,0,1,125.071225,1,batsman,35.48
457,61,24,340,6,105,13,29.444444,15,70,2,...,104,0,india,35263,0,6,159.028914,1,batsman,50.00
458,12,6,34,2,18,0,20.000000,3,12,0,...,20,0,usa,228943,0,1,128.617363,0,batsman,50.00
459,29,9,44,0,10,0,23.652174,6,14,1,...,38,0,australia,6161,0,3,111.934156,0,batsman,28.95

In [40]:
pda.to_csv("./output/batsman.csv")

In [41]:
# pda.to_csv("batsman.csv")

In [42]:
print("Time Taken:", str(end_time-start_time),"sec" )

Time Taken: 316.8555417060852 sec