In [45]:
!ls ./input

alter_info  deliveries.csv  matches.csv  PlayerInfo_Modified.csv

In [46]:
import pandas as pd
import numpy as np

In [47]:
df=pd.read_csv("./input/deliveries.csv")
df.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [48]:
mf=pd.read_csv("./input/matches.csv", index_col="id")
mf.head()

,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
id,,,,,,,,,,,,,,,,,
1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [49]:
ball_set=set(df["bowler"])
print(len(ball_set))

356

In [50]:
pdm=pd.read_csv("./output/till_orgin_id.csv", index_col="Name")
pdm.head(2)

,Unnamed: 0,Search,Profile,Alternative Name,Image,Origin,Profile Id
Name,,,,,,,
A Ashish Reddy,1,http://search.espncricinfo.com/ci/content/play...,/india/content/player/389605.html,Ashish Reddy,http://www.espncricinfo.com/db/PICTURES/CMS/14...,india,389605
A Chandila,32,http://search.espncricinfo.com/ci/content/play...,/india/content/player/27783.html,Ajit Chandila,http://www.espncricinfo.com/db/PICTURES/CMS/14...,india,27783

# Bowler

1. Strike_rate as bowler
* Economy
* No Of 4, 5 wickets
* No of Matches PLayed as bowler
* Win /Loose as bowler
* Strength
* Most wicket
* Average Overas

## 0. Update key value funtion

In [51]:
def update_variable(variable_name,variable, player_dict):
    player_dict[str(variable_name)]=variable

## Initalize Dictonary

In [52]:
p_name="A Mishra"
player_dict={"name":p_name}
player_dict["type"]="bowler"
player_dict

{'name': 'A Mishra', 'type': 'bowler'}

In [53]:
def get_pdf_b(p_name):
    pdf=df[df["bowler"]==p_name]
    return pdf
pdf=get_pdf_b(p_name)

## Get Origin and espncricinfo.com id

In [54]:
def origin_id(p_name, pdm, player_dict):
    origin=pdm.loc[p_name]["Origin"]
    profile_id=pdm.loc[p_name]["Profile Id"]
    update_variable("origin",origin, player_dict)
    update_variable("profile_id",profile_id, player_dict)
    return player_dict

player_dict=origin_id(p_name, pdm, player_dict)

In [55]:
player_dict

{'name': 'A Mishra',
 'type': 'bowler',
 'origin': 'india',
 'profile_id': '427458'}

## 1. Strike_rate as bowler

In [56]:
pdf

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
1004,5,1,Royal Challengers Bangalore,Delhi Daredevils,8,1,KM Jadhav,SR Watson,A Mishra,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1005,5,1,Royal Challengers Bangalore,Delhi Daredevils,8,2,KM Jadhav,SR Watson,A Mishra,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
1006,5,1,Royal Challengers Bangalore,Delhi Daredevils,8,3,SR Watson,KM Jadhav,A Mishra,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
1007,5,1,Royal Challengers Bangalore,Delhi Daredevils,8,4,KM Jadhav,SR Watson,A Mishra,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
1008,5,1,Royal Challengers Bangalore,Delhi Daredevils,8,5,KM Jadhav,SR Watson,A Mishra,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1009,5,1,Royal Challengers Bangalore,Delhi Daredevils,8,6,KM Jadhav,SR Watson,A Mishra,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1034,5,1,Royal Challengers Bangalore,Delhi Daredevils,13,1,KM Jadhav,STR Binny,A Mishra,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
1035,5,1,Royal Challengers Bangalore,Delhi Daredevils,13,2,KM Jadhav,STR Binny,A Mishra,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
1036,5,1,Royal Challengers Bangalore,Delhi Daredevils,13,3,KM Jadhav,STR Binny,A Mishra,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
1037,5,1,Royal Challengers Bangalore,Delhi Daredevils,13,4,KM Jadhav,STR Binny,A Mishra,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
1038,5,1,Royal Challengers Bangalore,Delhi Daredevils,13,5,KM Jadhav,STR Binny,A Mishra,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
1039,5,1,Royal Challengers Bangalore,Delhi Daredevils,13,6,KM Jadhav,STR Binny,A Mishra,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
2084,9,2,Rising Pune Supergiant,Delhi Daredevils,12,1,R Bhatia,MS Dhoni,A Mishra,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
2085,9,2,Rising Pune Supergiant,Delhi Daredevils,12,2,MS Dhoni,R Bhatia,A Mishra,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2086,9,2,Rising Pune Supergiant,Delhi Daredevils,12,3,MS Dhoni,R Bhatia,A Mishra,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
2087,9,2,Rising Pune Supergiant,Delhi Daredevils,12,4,R Bhatia,MS Dhoni,A Mishra,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2088,9,2,Rising Pune Supergiant,Delhi Daredevils,12,5,R Bhatia,MS Dhoni,A Mishra,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
2089,9,2,Rising Pune Supergiant,Delhi Daredevils,12,6,MS Dhoni,R Bhatia,A Mishra,0,...,0,0,0,0,0,0,0,MS Dhoni,caught,KK Nair
2096,9,2,Rising Pune Supergiant,Delhi Daredevils,14,1,R Bhatia,DL Chahar,A Mishra,0,...,0,0,0,0,0,0,0,R Bhatia,caught,CH Morris
2097,9,2,Rising Pune Supergiant,Delhi Daredevils,14,2,A Zampa,DL Chahar,A Mishra,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2098,9,2,Rising Pune Supergiant,Delhi Daredevils,14,3,A Zampa,DL Chahar,A Mishra,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
2099,9,2,Rising Pune Supergiant,Delhi Daredevils,14,4,DL Chahar,A Zampa,A Mishra,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
2100,9,2,Rising Pune Supergiant,Delhi Daredevils,14,5,A Zampa,DL Chahar,A Mishra,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
2101,9,2,Rising Pune Supergiant,Delhi Daredevils,14,6,A Zampa,DL Chahar,A Mishra,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2109,9,2,Rising Pune Supergiant,Delhi Daredevils,16,1,AB Dinda,A Zampa,A Mishra,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
2110,9,2,Rising Pune Supergiant,Delhi Daredevils,16,2,A Zampa,AB Dinda,A Mishra,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2111,9,2,Rising Pune Supergiant,Delhi Daredevils,16,3,A Zampa,AB Dinda,A Mishra,0,...,0,0,0,0,0,0,0,A Zampa,caught,SV Samson
2112,9,2,Rising Pune Supergiant,Delhi Daredevils,16,4,AB Dinda,Imran Tahir,A Mishra,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
2113,9,2,Rising Pune Supergiant,Delhi Daredevils,16,5,Imran Tahir,AB Dinda,A Mishra,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2114,9,2,Rising Pune Supergiant,Delhi Daredevils,16,6,Imran Tahir,AB Dinda,A Mishra,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148353,628,1,Sunrisers Hyderabad,Delhi Daredevils,15,1,DA Warner,EJG Morgan,A Mishra,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
148354,628,1,Sunrisers Hyderabad,Delhi Daredevils,15,2,EJG Morgan,DA Warner,A Mishra,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
148355,628,1,Sunrisers Hyderabad,Delhi Daredevils,15,3,DA Warner,EJG Morgan,A Mishra,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
148356,628,1,Sunrisers Hyderabad,Delhi Daredevils,15,4,DA Warner,EJG Morgan,A Mishra,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
148357,628,1,Sunrisers Hyderabad,Delhi Daredevils,15,5,EJG Morgan,DA Warner,A Mishra,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
148358,628,1,Sunrisers Hyderabad,Delhi Daredevils,15,6,DA Warner,EJG Morgan,A Mishra,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
149416,632,2,Royal Challengers Bangalore,Delhi Daredevils,8,1,KL Rahul,V Kohli,A Mishra,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
149417,632,2,Royal Challengers Bangalore,Delhi Daredevils,8,2,V Kohli,KL Rahul,A Mishra,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
149418,632,2,Royal Challengers Bangalore,Delhi Daredevils,8,3,KL Rahul,V Kohli,A Mishra,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
149419,632,2,Royal Challengers Bangalore,Delhi Daredevils,8,4,KL Rahul,V Kohli,A Mishra,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
149420,632,2,Royal Challengers Bangalore,Delhi Daredevils,8,5,KL Rahul,V Kohli,A Mishra,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
149421,632,2,Royal Challengers Bangalore,Delhi Daredevils,8,6,KL Rahul,V Kohli,A Mishra,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
149440,632,2,Royal Challengers Bangalore,Delhi Daredevils,12,1,V Kohli,SR Watson,A Mishra,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
149441,632,2,Royal Challengers Bangalore,Delhi Daredevils,12,2,SR Watson,V Kohli,A Mishra,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
149442,632,2,Royal Challengers Bangalore,Delhi Daredevils,12,3,V Kohli,SR Watson,A Mishra,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
149443,632,2,Royal Challengers Bangalore,Delhi Daredevils,12,4,V Kohli,SR Watson,A Mishra,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
149444,632,2,Royal Challengers Bangalore,Delhi Daredevils,12,5,SR Watson,V Kohli,A Mishra,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
149445,632,2,Royal Challengers Bangalore,Delhi Daredevils,12,6,SR Watson,V Kohli,A Mishra,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
149452,632,2,Royal Challengers Bangalore,Delhi Daredevils,14,1,SR Watson,V Kohli,A Mishra,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
149453,632,2,Royal Challengers Bangalore,Delhi Daredevils,14,2,V Kohli,SR Watson,A Mishra,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
149454,632,2,Royal Challengers Bangalore,Delhi Daredevils,14,3,SR Watson,V Kohli,A Mishra,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
149455,632,2,Royal Challengers Bangalore,Delhi Daredevils,14,4,SR Watson,V Kohli,A Mishra,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
149456,632,2,Royal Challengers Bangalore,Delhi Daredevils,14,5,SR Watson,V Kohli,A Mishra,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
149457,632,2,Royal Challengers Bangalore,Delhi Daredevils,14,6,SR Watson,V Kohli,A Mishra,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
149464,632,2,Royal Challengers Bangalore,Delhi Daredevils,16,1,STR Binny,V Kohli,A Mishra,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
149465,632,2,Royal Challengers Bangalore,Delhi Daredevils,16,2,V Kohli,STR Binny,A Mishra,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
149466,632,2,Royal Challengers Bangalore,Delhi Daredevils,16,3,STR Binny,V Kohli,A Mishra,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
149467,632,2,Royal Challengers Bangalore,Delhi Daredevils,16,4,STR Binny,V Kohli,A Mishra,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
149468,632,2,Royal Challengers Bangalore,Delhi Daredevils,16,5,STR Binny,V Kohli,A Mishra,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
149469,632,2,Royal Challengers Bangalore,Delhi Daredevils,16,6,STR Binny,V Kohli,A Mishra,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [57]:
def strike_rate_b(pdf, player_dict):
    total_balls=pdf.count()["ball"]
    
    total_wicket=pdf.count()["player_dismissed"]
    strike_rate_no=total_balls/total_wicket
    
    update_variable("strike_rate",strike_rate_no, player_dict)

strike_rate_b(pdf, player_dict)

## 2. Economy

In [58]:
pdf.count()["ball"]/6

450.5

In [59]:
def economy(pdf, player_dict):
    total_runs=pdf.sum()["total_runs"]
    total_overs=pdf.count()["ball"]/6
    economy=total_runs/total_overs
    economy=round(economy,2)
    update_variable("economy",economy, player_dict)
    
economy(pdf, player_dict)

## 3. No of 4 or 5 wickets

In [60]:
def total_3_4_b(pdf, player_dict):
    x=pdf.groupby("match_id").count()
    total_3_b=len(x[x["player_dismissed"]==3])
    total_4_b=len(x[x["player_dismissed"]==4])
    update_variable("3w",total_3_b, player_dict)
    update_variable("4w",total_4_b, player_dict)
total_3_4_b(pdf, player_dict)

## 4. No. Of Matches Played

In [61]:
pdf.groupby("match_id").count()

,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
match_id,,,,,,,,,,,,,,,,,,,,
5,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,0,0,0
9,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,3,3,3
15,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,1,1,1
18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,1,1,1
21,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,0,0,0
24,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,2,2,2
31,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,0,0,0
35,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,0,0,0
39,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,1,1,1
41,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,0,0,0
44,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,1,1,1
49,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,1,1,1
51,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,0,0,0
55,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,0,0,0
93,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,2,2,1
95,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,0,0,0
98,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,5,5,4
100,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,1,1,1
109,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,1,1,1
115,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,2,2,1
129,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,1,1,0
133,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,3,3,3
136,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,1,1,1
141,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,0,0,0
146,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,0,0,0
150,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,0,0,0
154,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,3,3,3
158,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,0,0,0
165,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,3,3,2
170,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,2,2,2
493,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,0,0,0
496,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,1,1,1
500,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,1,1,1
519,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,1,1,1
523,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,2,2,2
528,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,1,1,0
531,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,0,0,0
535,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,0,0,0
539,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,2,2,2
543,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,0,0,0
545,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,1,1,0
548,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,1,1,0
553,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,0,0,0
556,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,1,1,0
561,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,0,0,0
578,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,1,1,1
583,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,4,4,2
587,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,0,0,0
593,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,2,2,0
599,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,0,0,0
602,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,26,1,1,0
607,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,1,1,1
609,27,27,27,27,27,27,27,27,27,27,27,27,27,27,27,27,27,1,1,1
612,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,0,0,0
618,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,2,2,2
623,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,1,1,1
625,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,0,0,0
628,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,1,1,1
632,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,24,0,0,0

In [62]:
def no_of_matches(pdf, player_dict):
    no_of_matches=len(pdf.groupby("match_id").count())
    update_variable("no_of_matches",no_of_matches, player_dict)

no_of_matches(pdf, player_dict)

In [63]:
player_dict

{'name': 'A Mishra',
 'type': 'bowler',
 'origin': 'india',
 'profile_id': '427458',
 'strike_rate': 19.035211267605632,
 'economy': 7.34,
 '3w': 11,
 '4w': 4,
 'no_of_matches': 126}

# 5. Winning Percentage

In [64]:
mf.head(1)

,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
id,,,,,,,,,,,,,,,,,
1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN

In [65]:
list(pdf.groupby("match_id").count().reset_index()["match_id"])

[5,
 9,
 15,
 18,
 21,
 24,
 31,
 35,
 39,
 41,
 44,
 49,
 51,
 55,
 93,
 95,
 98,
 100,
 109,
 115,
 129,
 133,
 136,
 141,
 146,
 150,
 154,
 158,
 165,
 170,
 172,
 177,
 180,
 183,
 185,
 189,
 197,
 200,
 203,
 209,
 213,
 218,
 221,
 224,
 229,
 236,
 240,
 245,
 249,
 253,
 260,
 265,
 272,
 275,
 279,
 286,
 292,
 295,
 300,
 316,
 323,
 328,
 331,
 337,
 341,
 346,
 348,
 352,
 356,
 359,
 366,
 373,
 376,
 384,
 388,
 394,
 397,
 402,
 405,
 414,
 416,
 423,
 428,
 432,
 435,
 440,
 444,
 449,
 453,
 455,
 461,
 466,
 469,
 474,
 477,
 487,
 489,
 493,
 496,
 500,
 519,
 523,
 528,
 531,
 535,
 539,
 543,
 545,
 548,
 553,
 556,
 561,
 578,
 583,
 587,
 593,
 599,
 602,
 607,
 609,
 612,
 618,
 623,
 625,
 628,
 632]

In [66]:
def update_match_status(pdf, p_name):
    
    print("Match Status Started for:",p_name)
    match_ids=list(pdf.groupby("match_id").count().reset_index()["match_id"])
    
    
    for m_id in match_ids:
        
        player_team  =  pdf[pdf["match_id"]==m_id].iloc[0]["bowling_team"]
        winning_team =  mf.loc[m_id]["winner"]

        if winning_team==player_team:
            status="Winner"
        elif pd.isnull(winning_team):
            status="No Result"
        else:
            status="Looser"
            
            
        pdf.loc[pdf["match_id"]==m_id, "match_status"]=status

update_match_status(pdf, p_name)

Match Status Started for: A Mishra

In [67]:
def winning_percentage_b(pdf, player_dict):
    first_element_of_group=pdf.groupby(["match_id","match_status"]).first().reset_index()
    frequency=first_element_of_group["match_status"].value_counts()
    try:
        won=frequency["Winner"]
    except:
        won=0
    try:
        lost=frequency["Looser"]
    except:
        lost=0
    winning_percentage=100*won/(won+lost)
    winning_percentage=round(winning_percentage,2)
    update_variable("winning_percentage_b",winning_percentage, player_dict)

winning_percentage_b(pdf, player_dict)

In [68]:
player_dict

{'name': 'A Mishra',
 'type': 'bowler',
 'origin': 'india',
 'profile_id': '427458',
 'strike_rate': 19.035211267605632,
 'economy': 7.34,
 '3w': 11,
 '4w': 4,
 'no_of_matches': 126,
 'winning_percentage_b': 46.03}

## 6. Strength

* Beware of this techniques

In [69]:
pdf["dismissal_kind"].value_counts()

caught               74
stumped              23
bowled               21
lbw                  13
run out               8
caught and bowled     3
Name: dismissal_kind, dtype: int64

In [70]:
dismissed_cols=df[df["dismissal_kind"].notnull()]["dismissal_kind"].unique()

In [71]:
def dismissal_type_b(pdf,dismissed_cols,player_dict):
    for col in dismissed_cols:
        col_name=str(col)+"_b"
        try:
            player_dict[col_name]=pdf["dismissal_kind"].value_counts()[col]
        except:
            player_dict[col_name]=0
            pass
    return player_dict

In [72]:
player_dict=dismissal_type_b(pdf,dismissed_cols,player_dict)
player_dict

{'name': 'A Mishra',
 'type': 'bowler',
 'origin': 'india',
 'profile_id': '427458',
 'strike_rate': 19.035211267605632,
 'economy': 7.34,
 '3w': 11,
 '4w': 4,
 'no_of_matches': 126,
 'winning_percentage_b': 46.03,
 'caught_b': 74,
 'bowled_b': 21,
 'run out_b': 8,
 'lbw_b': 13,
 'caught and bowled_b': 3,
 'stumped_b': 23,
 'retired hurt_b': 0,
 'hit wicket_b': 0,
 'obstructing the field_b': 0}

## 7. Most Wickets

In [73]:
def most_wickets(pdf, player_dict):
    most_wickets=max(pdf.groupby("match_id").count()["player_dismissed"])
    update_variable("most_wickets",most_wickets, player_dict)
most_wickets(pdf, player_dict)

## 8. Will Leave After (Over Bins)

In [74]:
player_dict

{'name': 'A Mishra',
 'type': 'bowler',
 'origin': 'india',
 'profile_id': '427458',
 'strike_rate': 19.035211267605632,
 'economy': 7.34,
 '3w': 11,
 '4w': 4,
 'no_of_matches': 126,
 'winning_percentage_b': 46.03,
 'caught_b': 74,
 'bowled_b': 21,
 'run out_b': 8,
 'lbw_b': 13,
 'caught and bowled_b': 3,
 'stumped_b': 23,
 'retired hurt_b': 0,
 'hit wicket_b': 0,
 'obstructing the field_b': 0,
 'most_wickets': 5}

In [75]:
def update_bins_b(pdf,player_dict):
    value=pdf.groupby("match_id").count()["ball"].values
    value=value/6
    value=np.round(value,decimals=2)

    bins = [1,2,4,6]
    hist=np.histogram(value,bins)
    
    for h in range(0,4):
        key_name=str(hist[1][h])+"os"
        
        try: 
            value=hist[0][h]
        except:
            value=0
        
        player_dict[key_name]=value

In [76]:
update_bins_b(pdf,player_dict)

In [77]:
player_dict

{'name': 'A Mishra',
 'type': 'bowler',
 'origin': 'india',
 'profile_id': '427458',
 'strike_rate': 19.035211267605632,
 'economy': 7.34,
 '3w': 11,
 '4w': 4,
 'no_of_matches': 126,
 'winning_percentage_b': 46.03,
 'caught_b': 74,
 'bowled_b': 21,
 'run out_b': 8,
 'lbw_b': 13,
 'caught and bowled_b': 3,
 'stumped_b': 23,
 'retired hurt_b': 0,
 'hit wicket_b': 0,
 'obstructing the field_b': 0,
 'most_wickets': 5,
 '1os': 1,
 '2os': 47,
 '4os': 78,
 '6os': 0}

## Creating aggregator function

In [78]:
def complete_agrregator(p_name, df, mf, pdm):
    
    # Intialize Dict
    player_dict={"name":p_name}

    #Profile Type
    player_dict["type"]="bowler"
    
    #Get player Data
    pdf=get_pdf_b(p_name)
    

    # Get origin and Espencrickinfo.com id
    player_dict=origin_id(p_name, pdm, player_dict)
    
    #     1. Strike Rate
    strike_rate_b(pdf, player_dict)
    
    #2. Economy
    economy(pdf, player_dict)
    
    #3. No Of 4, 5 wickets 
    total_3_4_b(pdf, player_dict)
    
    #4. No of Matches PLayed
    no_of_matches(pdf, player_dict)
    
    
    #5. Win /Loose
    update_match_status(pdf, p_name)
    winning_percentage_b(pdf, player_dict)
    
    #6. Strenght player
    dismissed_cols=df[df["dismissal_kind"].notnull()]["dismissal_kind"].unique()
    player_dict=dismissal_type_b(pdf,dismissed_cols,player_dict)
    
    #7. Most wickets
    most_wickets(pdf, player_dict)
    
    #8. Will leave after (Over bins)
    update_bins_b(pdf,player_dict)


    return player_dict

# Running Test

In [79]:
df=pd.read_csv("./input/deliveries.csv")
mf=pd.read_csv("./input/matches.csv", index_col="id")
pdm=pd.read_csv("./output/till_orgin_id.csv", index_col="Name")


x=complete_agrregator("TS Mills",df, mf, pdm)
x

Match Status Started for: TS Mills

{'name': 'TS Mills',
 'type': 'bowler',
 'origin': 'england',
 'profile_id': '459257',
 'strike_rate': 22.2,
 'economy': 8.49,
 '3w': 0,
 '4w': 0,
 'no_of_matches': 5,
 'winning_percentage_b': 20.0,
 'caught_b': 2,
 'bowled_b': 2,
 'run out_b': 0,
 'lbw_b': 1,
 'caught and bowled_b': 0,
 'stumped_b': 0,
 'retired hurt_b': 0,
 'hit wicket_b': 0,
 'obstructing the field_b': 0,
 'most_wickets': 2,
 '1os': 0,
 '2os': 1,
 '4os': 4,
 '6os': 0}

# Mega Dictonary CReater fucntion:

In [80]:
def save_all(player_list):

    print("Started thread from:",player_list[0], "to", player_list[-1])
        
    
#     player_list=bat_set=set(df["batsman"])

    for player in player_list:
        p_name=str(player)
        player_dict=complete_agrregator(p_name,df, mf, pdm)
        player_dicts.append(player_dict)

    return player_dicts

# Multi Threading  for faster results

In [81]:
import threading
import math

#### Importing Csv File
df=pd.read_csv("./input/deliveries.csv")
mf=pd.read_csv("./input/matches.csv", index_col="id")
pdm=pd.read_csv("./output/till_orgin_id.csv", index_col="Name")


## Creating Main Dictonary
player_dicts=[]

## DIsrtibutiing workload 
player_list=list(set(df["bowler"]))
total_players=len(player_list)


## Setting Processor Power 
thread_count=8
delta=total_players/thread_count


## Making thread list
thread_list=[]
for i in range(thread_count):
    start=math.floor(i*delta)
    end=math.floor( (i+1)*delta)
    
    ## We are dealing with python list which starts form 0 and not 1
    list_end=total_players-1
    
    if end > list_end:
        end=list_end
    
    
    t=threading.Thread(target=save_all, args=(player_list[start:end],))
    thread_list.append(t)
    
    
    print("Start:", start, "End:", end)
    print("Start:", player_list[start], "End:", player_list[end])

Start: 0 End: 44
Start: P Amarnath End: CRD Fernando
Start: 44 End: 89
Start: CRD Fernando End: CR Brathwaite
Start: 89 End: 133
Start: CR Brathwaite End: PV Tambe
Start: 133 End: 178
Start: PV Tambe End: JA Morkel
Start: 178 End: 222
Start: JA Morkel End: J Suchith
Start: 222 End: 267
Start: J Suchith End: ND Doshi
Start: 267 End: 311
Start: ND Doshi End: SPD Smith
Start: 311 End: 355
Start: SPD Smith End: LJ Wright

In [82]:
# Starting thread now

In [83]:
## Starting Thread
import time

start_time=time.time()

for t in thread_list:
    t.start()


## Rejoining Thread
for t in thread_list:
    t.join()

end_time=time.time()

Started thread from: P Amarnath to Mohammed Shami
Started thread from: CRD Fernando to KH Pandya
Started thread from: CR Brathwaite toStarted thread from: PV Tambe to  Shoaib Malik
Started thread from: JA Morkel to TA Boult
AS Raut
Started thread from: J Suchith to BCJ Cutting
Started thread from: ND Doshi to BA Bhatt
Started thread from: SPD Smith to KS Williamson
Match Status Started for: ND Doshi
Match Status Started for: SPD Smith
Match Status Started for:

/home/boo/anaconda3/envs/tf_gpu/lib/python3.6/site-packages/ipykernel_launcher.py:5: RuntimeWarning: divide by zero encountered in long_scalars
  """

Match Status Started for:Match Status Started for: CRD Fernando
 P Amarnath
 CR Brathwaite
Match Status Started for: J Suchith
Match Status Started for: PV Tambe
Match Status Started for:Match Status Started for: AM Nayar
Match Status Started for: Y Nagar
 JA Morkel
Match Status Started for: FH Edwards
Match Status Started for: DJG Sammy
Match Status Started for: RA Tripathi
Match Status Started for: J Botha
Match Status Started for: A Symonds
Match Status Started for: LPC Silva
Match Status Started for: CK Kapugedera
Match Status Started for: PD Collingwood
Match Status Started for: R McLaren
Match Status Started for: AD Russell
Match Status Started for: P Kumar
Match Status Started for: S Vidyut
Match Status Started for: SR Watson
Match Status Started for: S Narwal
Match Status Started for: JJ Bumrah
Match Status Started for: Shoaib Akhtar
Match Status Started for: P Suyal
Match Status Started for: BJ Rohrer
Match Status Started for: KW Richardson
Match Status Started for: A Mithun
Match Status Started for: CJ Anderson
Match Status Started for: AM Salvi
Match Status Started for: SP Narine
Match Status Started for: KMDN Kulasekara
Match Status Started for: SS Sarkar
Match Status Started for: AC Voges
Match Status Started for: DS Kulkarni
Match Status Started for: TG Southee
Match Status Started for: TM Head
Match Status Started for: SD Chitnis
Match Status Started for: AB Dinda
Match Status Started for: JP Duminy
Match Status Started for: Match Status Started for: P Awana
L Ablish
Match Status Started for: STR Binny
Match Status Started for: JR Hopes
Match Status Started for: DJ Bravo
Match Status Started for: WD Parnell
Match Status Started for: S Tyagi
Match Status Started for: DP Nannes
Match Status Started for: ST Jayasuriya
Match Status Started for: YK Pathan
Match Status Started for:Match Status Started for: SB Wagh
 PC Valthaty
Match Status Started for: MA Starc
Match Status Started for: SK Warne
Match Status Started for: B Kumar
Match Status Started for: VS Yeligati
Match Status Started for: MG Johnson
Match Status Started for: DW Steyn
Match Status Started for: T Henderson
Match Status Started for: SK Trivedi
Match Status Started for: AB McDonald
Match Status Started for: SA Abbott
Match Status Started for: SM Boland
Match Status Started for: AB Agarkar
Match Status Started for: Mohammed Siraj
Match Status Started for: Azhar Mahmood
Match Status Started for: KAJ Roach
Match Status Started for: Washington Sundar
Match Status Started for: Gurkeerat Singh
Match Status Started for: AD Mathews
Match Status Started for: R Ashwin
Match Status Started for: Tejas Baroka
Match Status Started for: SMSM Senanayake
Match Status Started for: Basil Thampi
Match Status Started for: GB Hogg
Match Status Started for: Shahid Afridi
Match Status Started for: RP Singh
Match Status Started for: M Vijay
Match Status Started for: VY Mahesh
Match Status Started for: S Sriram
Match Status Started for: Anand Rajan
Match Status Started for:Match Status Started for: S Gopal
 DB Ravi Teja
Match Status Started for: DAJ Bracewell
Match Status Started for: A Ashish Reddy
Match Status Started for: S Randiv
Match Status Started for: Harmeet Singh (2)
Match Status Started for: DJ Thornely
Match Status Started for: DL Chahar
Match Status Started for: P Sahu
Match Status Started for: TS Mills
Match Status Started for: M Kartik
Match Status Started for:Match Status Started for: S Sreesanth
 MM Patel
Match Status Started for: A Singh
Match Status Started for: GJ Maxwell
Match Status Started for: MM Sharma
Match Status Started for: Sandeep Sharma
Match Status Started for: Harmeet Singh
Match Status Started for: AN Ahmed
Match Status Started for:Match Status Started for: A Chandila
 Parvez Rasool
Match Status Started for: Sachin Baby
Match Status Started for: R Vinay Kumar
Match Status Started for: SR Tendulkar
Match Status Started for: C Ganapathy
Match Status Started for: Kuldeep Yadav
Match Status Started for: VS Malik
Match Status Started for: N Rana
Match Status Started for: JP Faulkner
Match Status Started for: SM Pollock
Match Status Started for: RG More
Match Status Started for: Mohammad Nabi
Match Status Started for: Karanveer Singh
Match Status Started for: Umar Gul
Match Status Started for: IK Pathan
Match Status Started for: A Zampa
Match Status Started for: V Sehwag
Match Status Started for: B Laughlin
Match Status Started for: RJ Harris
Match Status Started for: AM Rahane
Match Status Started for: NL McCullum
Match Status Started for: CH Gayle
Match Status Started for: TP Sudhindra
Match Status Started for: R Sharma
Match Status Started for: C de Grandhomme
Match Status Started for: TM Dilshan
Match Status Started for: DJ MuthuswamiMatch Status Started for: I Malhotra

Match Status Started for: Y Venugopal Rao
Match Status Started for: DJ Hussey
Match Status Started for: SJ Srivastava
Match Status Started for: AUK Pathan
Match Status Started for: RA Shaikh
Match Status Started for: T Shamsi
Match Status Started for: MJ McClenaghan
Match Status Started for: VRV Singh
Match Status Started for: Harbhajan Singh
Match Status Started for: MN Samuels
Match Status Started for: BB Sran
Match Status Started for: Match Status Started for: LR Shukla
R Rampaul
Match Status Started for: DR Smith
Match Status Started for: SN Thakur
Match Status Started for: WPUJC Vaas
Match Status Started for: D Wiese
Match Status Started for: C Nanda
Match Status Started for: DE Bollinger
Match Status Started for: V Shankar
Match Status Started for:Match Status Started for: T Thushara
 AP Dole
Match Status Started for: KP Appanna
Match Status Started for: LH Ferguson
Match Status Started for: R Sathish
Match Status Started for: NLTC Perera
Match Status Started for: DP Vijaykumar
Match Status Started for: RS Gavaskar
Match Status Started for: M Ashwin
Match Status Started for: AR Patel
Match Status Started for: J Yadav
Match Status Started for: Y Gnaneswara Rao
Match Status Started for: NM Coulter-Nile
Match Status Started for: AL Menaria
Match Status Started for: Sunny Gupta
Match Status Started for: Joginder Sharma
Match Status Started for: Rashid Khan
Match Status Started for: T Natarajan
Match Status Started for: M Ntini
Match Status Started for: BAW Mendis
Match Status Started for: MK Tiwary
Match Status Started for: S Badree
Match Status Started for: A Mishra
Match Status Started for: S Kaul
Match Status Started for: SS Mundhe

Exception in thread Thread-17:
Traceback (most recent call last):
  File "/home/boo/anaconda3/envs/tf_gpu/lib/python3.6/threading.py", line 916, in _bootstrap_inner
    self.run()
  File "/home/boo/anaconda3/envs/tf_gpu/lib/python3.6/threading.py", line 864, in run
    self._target(*self._args, **self._kwargs)
  File "<ipython-input-80-6c07165a8237>", line 10, in save_all
    player_dict=complete_agrregator(p_name,df, mf, pdm)
  File "<ipython-input-78-4e32b0871295>", line 31, in complete_agrregator
    winning_percentage_b(pdf, player_dict)
  File "<ipython-input-67-4366968a67b3>", line 12, in winning_percentage_b
    winning_percentage=100*won/(won+lost)
ZeroDivisionError: division by zero

Match Status Started for:Match Status Started for: J Theron
 RA Jadeja
Match Status Started for: Match Status Started for: DJ Hooda
K Goel
Match Status Started for: KC Cariappa
Match Status Started for: Anureet Singh
Match Status Started for: AG Murtaza
Match Status Started for: Gagandeep Singh
Match Status Started for: JO Holder
Match Status Started for: S Nadeem
Match Status Started for: AA Noffke
Match Status Started for: RG Sharma
Match Status Started for: S Rana
Match Status Started for: JDS Neesham
Match Status Started for: SW Tait
Match Status Started for: PJ Cummins
Match Status Started for: TL Suman
Match Status Started for: MA Khote
Match Status Started for: Z Khan
Match Status Started for: RR Raje
Match Status Started for: Mohammad Hafeez
Match Status Started for: Kamran Khan
Match Status Started for: AC Gilchrist
Match Status Started for: Mustafizur Rahman
Match Status Started for: NB Singh
Match Status Started for: AF Milne
Match Status Started for: I Sharma
Match Status Started for: SB Styris
Match Status Started for: WA Mota
Match Status Started for: MG Neser
Match Status Started for:Match Status Started for: AA Jhunjhunwala
Match Status Started for: Mohammad Asif
 GS Sandhu
Match Status Started for: BMAJ Mendis
Match Status Started for: BW Hilfenhaus
Match Status Started for: P Prasanth
Match Status Started for: AA Chavan
Match Status Started for: R Ninan
Match Status Started for: R Dhawan
Match Status Started for: Yuvraj Singh
Match Status Started for: B Geeves
Match Status Started for: SB Jakati
Match Status Started for: CL White
Match Status Started for: JW Hastings
Match Status Started for: AS Rajpoot
Match Status Started for: JD Unadkat
Match Status Started for: V Kohli
Match Status Started for: JEC FranklinMatch Status Started for: Bipul Sharma

Match Status Started for: Iqbal Abdulla
Match Status Started for: PM Sarvesh Kumar
Match Status Started for: NJ Rimmington
Match Status Started for: J Syed Mohammad
Match Status Started for: V Pratap Singh
Match Status Started for: YA Abdulla
Match Status Started for: M de Lange
Match Status Started for: BJ Hodge
Match Status Started for: Mashrafe Mortaza
Match Status Started for: RD Chahar
Match Status Started for: A Nel
Match Status Started for: Shivam Sharma
Match Status Started for: Imran Tahir
Match Status Started for: RW Price
Match Status Started for: IC PandeyMatch Status Started for: DT Christian

Match Status Started for: KP Pietersen
Match Status Started for: A Flintoff
Match Status Started for: MJ Henry
Match Status Started for: LMP Simmons
Match Status Started for: S Aravind
Match Status Started for: D Salunkhe
Match Status Started for: K Upadhyay
Match Status Started for: S Kaushik
Match Status Started for: MB Parmar
Match Status Started for: SK Raina
Match Status Started for: BE Hendricks
Match Status Started for: C Munro
Match Status Started for: JDP Oram
Match Status Started for: Avesh Khan
Match Status Started for: Ankit Soni
Match Status Started for: JE Taylor
Match Status Started for: KV Sharma
Match Status Started for: RR Bose
Match Status Started for: HV Patel
Match Status Started for: P Negi
Match Status Started for: MC Henriques
Match Status Started for: Jaskaran Singh
Match Status Started for: SL Malinga
Match Status Started for: UT Yadav
Match Status Started for: A Kumble
Match Status Started for: Shakib Al Hasan
Match Status Started for: CR Woakes
Match Status Started for: CH Morris
Match Status Started for: AJ Finch
Match Status Started for: AA Kazi
Match Status Started for: Swapnil Singh
Match Status Started for: B Akhil
Match Status Started for: KK Cooper
Match Status Started for: KA Pollard
Match Status Started for: HH Pandya
Match Status Started for: LA Carseldine
Match Status Started for: AJ Tye
Match Status Started for: B Chipli
Match Status Started for: RR Powar
Match Status Started for: GR Napier
Match Status Started for: B Stanlake
Match Status Started for: F du Plessis
Match Status Started for: YS Chahal
Match Status Started for: K Santokie
Match Status Started for: JM Kemp
Match Status Started for: MP Stoinis
Match Status Started for: A Nehra
Match Status Started for: SC Ganguly
Match Status Started for: BA Stokes
Match Status Started for: PP Ojha
Match Status Started for: Mohammed Shami
Match Status Started for: AD Mascarenhas
Match Status Started for: SA Yadav
Match Status Started for: R Bhatia
Match Status Started for: PJ Sangwan
Match Status Started for: R Shukla
Match Status Started for: PP Chawla
Match Status Started for: A Choudhary
Match Status Started for: KS Williamson
Match Status Started for: GD McGrath
Match Status Started for: KJ Abbott
Match Status Started for: AS Raut
Match Status Started for: FY Fazal
Match Status Started for: CJ McKay
Match Status Started for: D du Preez
Match Status Started for: SB Bangar
Match Status Started for: MJ Clarke
Match Status Started for: TA Boult
Match Status Started for: LRPL Taylor
Match Status Started for: KH Pandya
Match Status Started for: P Parameswaran
Match Status Started for: RJ Peterson
Match Status Started for: MS Gony
Match Status Started for: JH Kallis
Match Status Started for: SB Joshi
Match Status Started for: S Ladda
Match Status Started for: CK Langeveldt
Match Status Started for: Shoaib Ahmed
Match Status Started for: Ankit Sharma
Match Status Started for: DNT Zoysa
Match Status Started for: SS Agarwal
Match Status Started for: RE van der Merwe
Match Status Started for: BA Bhatt
Match Status Started for: MF Maharoof
Match Status Started for: L Balaji
Match Status Started for: DL Vettori
Match Status Started for: SM Harwood
Match Status Started for: M Manhas
Match Status Started for: JD Ryder
Match Status Started for: JJ van der Wath
Match Status Started for: B Lee
Match Status Started for: Shoaib Malik

In [84]:
pda=pd.DataFrame(player_dicts)

In [85]:
pda=pda[pda["strike_rate"]!=np.inf]

In [86]:
pda.to_csv("./output/bowler.csv")

In [87]:
pda

,1os,2os,3w,4os,4w,6os,bowled_b,caught and bowled_b,caught_b,economy,...,no_of_matches,obstructing the field_b,origin,profile_id,retired hurt_b,run out_b,strike_rate,stumped_b,type,winning_percentage_b
1,1,2,0,1,0,0,1,0,1,8.32,...,4,0,england,12440,0,0,28.500000,0,bowler,25.00
2,0,2,0,4,0,0,1,0,6,10.95,...,6,0,india,290629,0,0,18.857143,0,bowler,100.00
3,0,6,2,4,0,0,2,0,6,8.59,...,10,0,westindies,457249,0,2,18.100000,0,bowler,50.00
4,0,1,1,9,0,0,2,1,13,7.37,...,10,0,srilanka,48835,0,2,13.105263,0,bowler,60.00
5,0,7,0,6,0,0,2,1,6,8.75,...,13,0,india,527663,0,0,25.300000,1,bowler,69.23
6,6,2,0,0,0,0,0,1,3,10.42,...,8,0,india,317786,0,0,18.000000,0,bowler,25.00
7,0,1,0,5,0,0,1,0,3,6.40,...,6,0,southafrica,45002,0,1,25.000000,0,bowler,66.67
8,8,10,1,1,0,0,1,0,8,8.11,...,19,0,india,32091,0,0,26.555556,0,bowler,42.11
10,6,12,1,1,0,0,5,0,6,8.70,...,19,0,westindies,53115,0,3,17.428571,0,bowler,47.37
11,1,14,1,18,1,0,3,3,14,7.71,...,33,0,india,587152,0,0,24.071429,3,bowler,56.25
14,1,2,0,2,0,0,1,1,3,6.73,...,6,0,england,10772,0,0,18.000000,0,bowler,33.33
15,4,6,2,24,0,0,7,2,7,6.92,...,34,0,southafrica,44149,0,2,26.259259,3,bowler,50.00
16,3,15,1,12,0,0,2,1,13,7.71,...,30,0,australia,7702,0,3,23.478261,2,bowler,50.00
17,0,1,0,0,0,0,0,0,1,10.15,...,1,0,india,35619,0,0,13.000000,0,bowler,0.00
18,1,45,7,41,3,0,17,2,58,8.00,...,87,0,southafrica,46248,0,11,18.822917,0,bowler,52.87
19,0,10,1,8,0,0,4,0,8,9.00,...,18,0,southafrica,46393,0,2,26.571429,0,bowler,55.56
20,4,14,2,16,1,0,3,2,23,8.45,...,34,0,westindies,276298,0,5,18.083333,0,bowler,50.00
21,0,4,0,2,1,0,1,0,4,10.78,...,6,0,india,32084,0,1,18.833333,0,bowler,50.00
23,0,3,0,0,1,0,0,0,4,7.04,...,3,0,england,1149898,0,0,9.200000,0,bowler,33.33
24,0,4,0,1,0,0,0,0,2,8.64,...,5,0,india,431213,0,0,53.500000,0,bowler,40.00
25,1,11,8,35,1,0,14,1,25,7.93,...,47,0,india,625383,0,7,20.452830,0,bowler,55.32
26,0,3,0,11,1,0,2,1,14,8.28,...,14,0,australia,272262,1,1,16.300000,0,bowler,42.86
27,0,2,0,5,0,0,0,0,6,7.88,...,7,0,india,34264,0,0,22.285714,0,bowler,71.43
28,1,10,0,5,0,0,2,0,5,9.17,...,16,0,india,310958,0,1,39.000000,0,bowler,56.25
29,4,14,0,1,0,0,0,0,7,9.45,...,19,0,newzealand,36189,0,1,28.777778,0,bowler,42.11
30,2,36,6,81,0,0,14,1,70,7.60,...,119,0,india,30732,0,12,25.852941,0,bowler,47.90
31,5,37,9,52,2,0,16,2,66,7.62,...,94,0,australia,8180,0,14,19.610000,1,bowler,51.61
32,0,2,0,3,0,0,1,1,3,6.84,...,5,0,srilanka,49535,0,1,17.833333,0,bowler,60.00
33,1,1,0,0,0,0,1,0,0,8.16,...,2,0,india,34402,0,0,25.000000,0,bowler,50.00
34,5,2,0,0,0,0,0,0,0,8.14,...,7,0,australia,8119,0,1,56.000000,0,bowler,57.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300,0,1,0,1,0,0,0,0,1,8.57,...,2,0,australia,6903,0,0,42.000000,0,bowler,50.00
301,2,0,0,0,0,0,0,0,0,10.00,...,2,0,india,28671,0,1,12.000000,0,bowler,50.00
302,12,41,6,38,2,0,19,2,44,7.44,...,91,0,india,26907,0,11,20.256098,0,bowler,53.85
303,0,1,1,1,0,0,0,0,4,7.81,...,2,0,southafrica,221140,0,0,10.750000,0,bowler,50.00
304,2,3,0,4,0,0,1,0,3,8.67,...,9,0,india,27225,0,2,25.500000,0,bowler,22.22
305,1,3,0,1,0,0,1,0,1,6.55,...,5,0,australia,4578,0,1,22.000000,0,bowler,0.00
307,0,0,2,14,0,0,3,0,11,8.45,...,14,0,newzealand,277912,0,1,22.187500,0,bowler,64.29
308,11,39,7,78,3,0,37,4,57,7.67,...,128,0,india,32966,0,7,19.503759,13,bowler,53.91
309,0,5,1,3,0,0,1,1,7,8.53,...,8,0,india,279562,0,0,17.666667,0,bowler,62.50
310,3,9,3,12,0,0,2,1,11,7.06,...,24,0,india,471342,0,1,25.882353,2,bowler,70.83
311,2,1,1,1,0,0,0,0,3,8.75,...,4,0,southafrica,46750,0,0,16.000000,0,bowler,75.00
312,2,15,3,27,0,0,12,2,22,8.54,...,44,0,india,317293,0,2,23.717949,0,bowler,52.27
313,1,3,0,0,0,0,0,0,1,8.95,...,4,0,india,29725,0,0,55.000000,0,bowler,25.00
314,2,4,0,3,0,0,1,0,2,9.57,...,9,0,india,317292,0,0,28.200000,2,bowler,44.44
315,7,33,4,49,0,0,18,1,40,7.83,...,89,0,southafrica,45789,0,9,24.310811,0,bowler,50.56
316,0,2,1,5,0,0,1,0,11,7.24,...,7,0,southafrica,45963,0,0,12.692308,0,bowler,71.43
317,1,5,0,1,0,0,1,0,3,8.97,...,7,0,other,1156250,0,0,20.600000,0,bowler,28.57
318,0,1,0,2,0,0,0,1,1,8.70,...,3,0,srilanka,51050,0,0,34.500000,0,bowler,33.33
319,2,9,0,9,0,0,2,0,8,7.19,...,20,0,india,422992,0,0,30.750000,0,bowler,20.00
320,0,0,0,1,0,0,0,1,0,10.50,...,1,0,england,454685,0,0,24.000000,0,bowler,0.00
321,1,8,2,12,0,0,5,2,9,6.79,...,21,0,netherlands,47850,0,4,18.200000,1,bowler,52.38
322,0,9,0,6,1,0,1,1,8,8.08,...,15,0,india,433410,0,1,23.307692,0,bowler,53.33
323,1,5,4,14,1,0,5,0,20,7.24,...,20,0,srilanka,49638,0,6,13.363636,0,bowler,50.00
324,3,25,4,45,3,0,19,2,54,7.94,...,73,0,india,26829,0,9,18.517647,0,bowler,57.53
325,0,7,2,27,0,0,7,0,15,6.83,...,34,0,newzealand,38710,0,6,23.088235,2,bowler,55.88
326,0,1,0,2,0,0,0,0,3,6.63,...,3,0,australia,5605,0,0,22.333333,0,bowler,66.67
328,3,10,1,3,0,0,2,0,6,7.82,...,16,0,newzealand,38373,0,3,21.909091,0,bowler,43.75
329,0,0,0,3,0,0,0,0,3,10.58,...,3,0,southafrica,47693,0,0,25.333333,0,bowler,0.00
330,0,4,1,34,0,0,6,2,17,7.38,...,38,0,australia,6278,0,5,30.533333,0,bowler,55.26
331,3,1,0,1,0,0,0,1,1,9.00,...,5,0,pakistan,42657,0,0,29.000000,0,bowler,40.00

In [88]:
print("Time Taken:", str(end_time-start_time),"sec" )

Time Taken: 184.1263301372528 sec