In [1]:
import  pandas as pd
# import urllib.request
# from bs4 import BeautifulSoup

In [2]:
!ls

batsman.csv		     input
Batsman.ipynb		     output
Bowler.ipynb		     output.back
Flag Images		     Plain Text.txt
Image Retrieval Code .ipynb  Screenshot from 2019-03-10 17-57-27.png
Image Sort and Copy.ipynb

In [3]:
bat=pd.read_csv("./output/batsman.csv")
ball=pd.read_csv("./output/bowler.csv")

In [4]:
bat[bat["name"]==""]

Empty DataFrame
Columns: [Unnamed: 0, 0-25s, 25-50s, 4s, 50-75s, 6s, 75-200s, batting_average, bowled, caught, caught and bowled, hit wicket, lbw, most_runs, name, no_of_matches, obstructing the field, origin, profile_id, retired hurt, run out, strike_rate, stumped, type, winning_percentage]
Index: []

[0 rows x 25 columns]

In [5]:
batsman_names=list(bat["name"])
bowler_names=list(ball["name"])

print(len(batsman_names))
print(len(bowler_names))

389
293

In [6]:
import glob
import shutil
import os

In [7]:
src_dir = "./output/Player_Images"
batsman_dir = "./output/Batsman_Images"
bowler_dir = "./output/Bowler_Images"
    

for jpgfile in glob.iglob(os.path.join(src_dir, "*.jpg")):
#     shutil.copy(jpgfile, dst_dir)
    image_name=jpgfile.split("/")[-1]
    player_name=image_name.split(".")[0]
        
    if player_name in batsman_names:
        shutil.copy(jpgfile, batsman_dir)
        player_type="batsman"
        
#     if player_name in bowler_names:
#         shutil.copy(jpgfile, bowler_dir)
#         player_type="bowlSer"
    
    else:
        player_type="Unknown"
        print("Name:",player_name)
        print("Link",jpgfile)
        print("Type:", player_type)

Name: B Geeves
Link ./output/Player_Images/B Geeves.jpg
Type: Unknown
Name: RS Sodhi
Link ./output/Player_Images/RS Sodhi.jpg
Type: Unknown
Name: KMDN Kulasekara
Link ./output/Player_Images/KMDN Kulasekara.jpg
Type: Unknown
Name: A Chandila
Link ./output/Player_Images/A Chandila.jpg
Type: Unknown
Name: JD Unadkat
Link ./output/Player_Images/JD Unadkat.jpg
Type: Unknown
Name: SS Mundhe
Link ./output/Player_Images/SS Mundhe.jpg
Type: Unknown
Name: Mohammad Asif
Link ./output/Player_Images/Mohammad Asif.jpg
Type: Unknown
Name: A Nel
Link ./output/Player_Images/A Nel.jpg
Type: Unknown
Name: K Santokie
Link ./output/Player_Images/K Santokie.jpg
Type: Unknown
Name: AS Rajpoot
Link ./output/Player_Images/AS Rajpoot.jpg
Type: Unknown
Name: P Prasanth
Link ./output/Player_Images/P Prasanth.jpg
Type: Unknown
Name: S Randiv
Link ./output/Player_Images/S Randiv.jpg
Type: Unknown
Name: RW Price
Link ./output/Player_Images/RW Price.jpg
Type: Unknown
Name: S Tyagi
Link ./output/Player_Images/S Tyagi.jpg
Type: Unknown
Name: M Ashwin
Link ./output/Player_Images/M Ashwin.jpg
Type: Unknown
Name: SB Wagh
Link ./output/Player_Images/SB Wagh.jpg
Type: Unknown
Name: VS Yeligati
Link ./output/Player_Images/VS Yeligati.jpg
Type: Unknown
Name: Jaskaran Singh
Link ./output/Player_Images/Jaskaran Singh.jpg
Type: Unknown
Name: C Nanda
Link ./output/Player_Images/C Nanda.jpg
Type: Unknown
Name: CRD Fernando
Link ./output/Player_Images/CRD Fernando.jpg
Type: Unknown
Name: DAJ Bracewell
Link ./output/Player_Images/DAJ Bracewell.jpg
Type: Unknown
Name: NJ Rimmington
Link ./output/Player_Images/NJ Rimmington.jpg
Type: Unknown
Name: Basil Thampi
Link ./output/Player_Images/Basil Thampi.jpg
Type: Unknown
Name: MG Neser
Link ./output/Player_Images/MG Neser.jpg
Type: Unknown
Name: RG More
Link ./output/Player_Images/RG More.jpg
Type: Unknown
Name: SM Harwood
Link ./output/Player_Images/SM Harwood.jpg
Type: Unknown
Name: DM Bravo
Link ./output/Player_Images/DM Bravo.jpg
Type: Unknown
Name: K Upadhyay
Link ./output/Player_Images/K Upadhyay.jpg
Type: Unknown
Name: SJ Srivastava
Link ./output/Player_Images/SJ Srivastava.jpg
Type: Unknown
Name: MJ Henry
Link ./output/Player_Images/MJ Henry.jpg
Type: Unknown
Name: Younis Khan
Link ./output/Player_Images/Younis Khan.jpg
Type: Unknown
Name: R Ninan
Link ./output/Player_Images/R Ninan.jpg
Type: Unknown
Name: CJ Jordan
Link ./output/Player_Images/CJ Jordan.jpg
Type: Unknown
Name: Pankaj Singh
Link ./output/Player_Images/Pankaj Singh.jpg
Type: Unknown
Name: SS Sarkar
Link ./output/Player_Images/SS Sarkar.jpg
Type: Unknown
Name: Sunny Gupta
Link ./output/Player_Images/Sunny Gupta.jpg
Type: Unknown
Name: KP Appanna
Link ./output/Player_Images/KP Appanna.jpg
Type: Unknown
Name: SS Agarwal
Link ./output/Player_Images/SS Agarwal.jpg
Type: Unknown
Name: DJ Muthuswami
Link ./output/Player_Images/DJ Muthuswami.jpg
Type: Unknown
Name: L Ablish
Link ./output/Player_Images/L Ablish.jpg
Type: Unknown
Name: S Kaul
Link ./output/Player_Images/S Kaul.jpg
Type: Unknown
Name: AR Bawne
Link ./output/Player_Images/AR Bawne.jpg
Type: Unknown
Name: C Ganapathy
Link ./output/Player_Images/C Ganapathy.jpg
Type: Unknown
Name: S Ladda
Link ./output/Player_Images/S Ladda.jpg
Type: Unknown
Name: RD Chahar
Link ./output/Player_Images/RD Chahar.jpg
Type: Unknown
Name: RR Bhatkal
Link ./output/Player_Images/RR Bhatkal.jpg
Type: Unknown
Name: P Parameswaran
Link ./output/Player_Images/P Parameswaran.jpg
Type: Unknown
Name: Gagandeep Singh
Link ./output/Player_Images/Gagandeep Singh.jpg
Type: Unknown
Name: AA Kazi
Link ./output/Player_Images/AA Kazi.jpg
Type: Unknown
Name: S Anirudha
Link ./output/Player_Images/S Anirudha.jpg
Type: Unknown
Name: DP Nannes
Link ./output/Player_Images/DP Nannes.jpg
Type: Unknown
Name: Avesh Khan
Link ./output/Player_Images/Avesh Khan.jpg
Type: Unknown
Name: IC Pandey
Link ./output/Player_Images/IC Pandey.jpg
Type: Unknown
Name: TP Sudhindra
Link ./output/Player_Images/TP Sudhindra.jpg
Type: Unknown
Name: M de Lange
Link ./output/Player_Images/M de Lange.jpg
Type: Unknown
Name: RS Gavaskar
Link ./output/Player_Images/RS Gavaskar.jpg
Type: Unknown
Name: YS Chahal
Link ./output/Player_Images/YS Chahal.jpg
Type: Unknown
Name: GD McGrath
Link ./output/Player_Images/GD McGrath.jpg
Type: Unknown
Name: B Laughlin
Link ./output/Player_Images/B Laughlin.jpg
Type: Unknown
Name: RA Shaikh
Link ./output/Player_Images/RA Shaikh.jpg
Type: Unknown
Name: ND Doshi
Link ./output/Player_Images/ND Doshi.jpg
Type: Unknown
Name: RR Bose
Link ./output/Player_Images/RR Bose.jpg
Type: Unknown
Name: Mohammad Nabi
Link ./output/Player_Images/Mohammad Nabi.jpg
Type: Unknown
Name: P Awana
Link ./output/Player_Images/P Awana.jpg
Type: Unknown
Name: YA Abdulla
Link ./output/Player_Images/YA Abdulla.jpg
Type: Unknown
Name: P Amarnath
Link ./output/Player_Images/P Amarnath.jpg
Type: Unknown
Name: FH Edwards
Link ./output/Player_Images/FH Edwards.jpg
Type: Unknown
Name: Shoaib Akhtar
Link ./output/Player_Images/Shoaib Akhtar.jpg
Type: Unknown
Name: BW Hilfenhaus
Link ./output/Player_Images/BW Hilfenhaus.jpg
Type: Unknown
Name: Harmeet Singh (2)
Link ./output/Player_Images/Harmeet Singh (2).jpg
Type: Unknown
Name: JW Hastings
Link ./output/Player_Images/JW Hastings.jpg
Type: Unknown
Name: T Shamsi
Link ./output/Player_Images/T Shamsi.jpg
Type: Unknown
Name: GS Sandhu
Link ./output/Player_Images/GS Sandhu.jpg
Type: Unknown
Name: NB Singh
Link ./output/Player_Images/NB Singh.jpg
Type: Unknown
Name: SM Boland
Link ./output/Player_Images/SM Boland.jpg
Type: Unknown
Name: A Uniyal
Link ./output/Player_Images/A Uniyal.jpg
Type: Unknown
Name: Mohammed Siraj
Link ./output/Player_Images/Mohammed Siraj.jpg
Type: Unknown
Name: P Suyal
Link ./output/Player_Images/P Suyal.jpg
Type: Unknown
Name: Anand Rajan
Link ./output/Player_Images/Anand Rajan.jpg
Type: Unknown
Name: BAW Mendis
Link ./output/Player_Images/BAW Mendis.jpg
Type: Unknown
Name: Mashrafe Mortaza
Link ./output/Player_Images/Mashrafe Mortaza.jpg
Type: Unknown
Name: MB Parmar
Link ./output/Player_Images/MB Parmar.jpg
Type: Unknown
Name: TA Boult
Link ./output/Player_Images/TA Boult.jpg
Type: Unknown
Name: PM Sarvesh Kumar
Link ./output/Player_Images/PM Sarvesh Kumar.jpg
Type: Unknown
Name: Abdur Razzak
Link ./output/Player_Images/Abdur Razzak.jpg
Type: Unknown
Name: SE Bond
Link ./output/Player_Images/SE Bond.jpg
Type: Unknown
Name: I Malhotra
Link ./output/Player_Images/I Malhotra.jpg
Type: Unknown
Name: Shoaib Ahmed
Link ./output/Player_Images/Shoaib Ahmed.jpg
Type: Unknown
Name: D Kalyankrishna
Link ./output/Player_Images/D Kalyankrishna.jpg
Type: Unknown
Name: U Kaul
Link ./output/Player_Images/U Kaul.jpg
Type: Unknown
Name: Shivam Sharma
Link ./output/Player_Images/Shivam Sharma.jpg
Type: Unknown
Name: BB Sran
Link ./output/Player_Images/BB Sran.jpg
Type: Unknown
Name: JE Taylor
Link ./output/Player_Images/JE Taylor.jpg
Type: Unknown
Name: H Das
Link ./output/Player_Images/H Das.jpg
Type: Unknown
Name: AM Salvi
Link ./output/Player_Images/AM Salvi.jpg
Type: Unknown
Name: DP Vijaykumar
Link ./output/Player_Images/DP Vijaykumar.jpg
Type: Unknown
Name: Kamran Khan
Link ./output/Player_Images/Kamran Khan.jpg
Type: Unknown
Name: LH Ferguson
Link ./output/Player_Images/LH Ferguson.jpg
Type: Unknown
Name: BE Hendricks
Link ./output/Player_Images/BE Hendricks.jpg
Type: Unknown
Name: V Pratap Singh
Link ./output/Player_Images/V Pratap Singh.jpg
Type: Unknown
Name: T Natarajan
Link ./output/Player_Images/T Natarajan.jpg
Type: Unknown
Name: Tejas Baroka
Link ./output/Player_Images/Tejas Baroka.jpg
Type: Unknown
Name: Mustafizur Rahman
Link ./output/Player_Images/Mustafizur Rahman.jpg
Type: Unknown
Name: B Stanlake
Link ./output/Player_Images/B Stanlake.jpg
Type: Unknown
Name: S Kaushik
Link ./output/Player_Images/S Kaushik.jpg
Type: Unknown
Name: A Singh
Link ./output/Player_Images/A Singh.jpg
Type: Unknown

In [8]:
player_name="ML Hayden"


if player_name in batsman_names:
    print("Batsman")
elif player_name in bowler_names:
    print("Bowler")

Batsman

In [9]:
src_dir = "./output/Player_Images"
batsman_dir = "./output/Batsman_Images"
bowler_dir = "./output/Bowler_Images"

batsman_with_image=[]

for jpgfile in glob.iglob(os.path.join(src_dir, "*.jpg")):
#     shutil.copy(jpgfile, dst_dir)
    image_name=jpgfile.split("/")[-1]
    player_name=image_name.split(".")[0]
    
    batsman_with_image.append(player_name)

for batsman in batsman_with_image:
    if batsman not in batsman_names:
        print(batsman)

B Geeves
RS Sodhi
KMDN Kulasekara
A Chandila
JD Unadkat
SS Mundhe
Mohammad Asif
A Nel
K Santokie
AS Rajpoot
P Prasanth
S Randiv
RW Price
S Tyagi
M Ashwin
SB Wagh
VS Yeligati
Jaskaran Singh
C Nanda
CRD Fernando
DAJ Bracewell
NJ Rimmington
Basil Thampi
MG Neser
RG More
SM Harwood
DM Bravo
K Upadhyay
SJ Srivastava
MJ Henry
Younis Khan
R Ninan
CJ Jordan
Pankaj Singh
SS Sarkar
Sunny Gupta
KP Appanna
SS Agarwal
DJ Muthuswami
L Ablish
S Kaul
AR Bawne
C Ganapathy
S Ladda
RD Chahar
RR Bhatkal
P Parameswaran
Gagandeep Singh
AA Kazi
S Anirudha
DP Nannes
Avesh Khan
IC Pandey
TP Sudhindra
M de Lange
RS Gavaskar
YS Chahal
GD McGrath
B Laughlin
RA Shaikh
ND Doshi
RR Bose
Mohammad Nabi
P Awana
YA Abdulla
P Amarnath
FH Edwards
Shoaib Akhtar
BW Hilfenhaus
Harmeet Singh (2)
JW Hastings
T Shamsi
GS Sandhu
NB Singh
SM Boland
A Uniyal
Mohammed Siraj
P Suyal
Anand Rajan
BAW Mendis
Mashrafe Mortaza
MB Parmar
TA Boult
PM Sarvesh Kumar
Abdur Razzak
SE Bond
I Malhotra
Shoaib Ahmed
D Kalyankrishna
U Kaul
Shivam Sharma
BB Sran
JE Taylor
H Das
AM Salvi
DP Vijaykumar
Kamran Khan
LH Ferguson
BE Hendricks
V Pratap Singh
T Natarajan
Tejas Baroka
Mustafizur Rahman
B Stanlake
S Kaushik
A Singh

In [10]:
bat

,Unnamed: 0,0-25s,25-50s,4s,50-75s,6s,75-200s,batting_average,bowled,caught,...,no_of_matches,obstructing the field,origin,profile_id,retired hurt,run out,strike_rate,stumped,type,winning_percentage
0,0,4,0,3,0,0,0,4.500000,0,1,...,6,0,hkg,438565,0,0,150.000000,0,batsman,16.67
1,1,2,1,9,0,1,0,30.000000,0,2,...,3,0,england,298438,0,0,146.341463,0,batsman,0.00
2,2,4,1,11,0,0,0,21.750000,0,0,...,5,0,australia,4541,0,1,122.535211,1,batsman,60.00
3,3,13,2,13,0,8,0,15.454545,2,5,...,15,0,netherlands,47850,0,2,118.055556,3,batsman,40.00
4,4,5,0,4,0,0,0,15.000000,0,2,...,5,0,india,35261,0,0,111.111111,0,batsman,60.00
5,5,8,1,5,0,1,0,12.000000,1,3,...,9,0,india,28846,0,2,113.207547,0,batsman,33.33
6,6,4,3,15,1,4,0,24.571429,1,5,...,8,0,australia,325012,0,0,126.470588,1,batsman,37.50
7,8,7,0,4,0,1,0,11.500000,0,2,...,7,0,england,247235,0,0,97.872340,1,batsman,42.86
8,9,21,0,6,0,3,0,9.916667,2,9,...,21,0,australia,5779,0,0,106.250000,0,batsman,23.81
9,10,26,1,14,0,6,0,10.500000,6,6,...,29,0,australia,8166,0,4,95.890411,3,batsman,41.38
10,12,9,0,1,0,0,0,3.666667,1,2,...,9,0,southafrica,46538,0,2,73.333333,0,batsman,22.22
11,13,3,0,1,0,2,0,6.333333,0,2,...,3,0,india,236766,0,1,111.764706,0,batsman,33.33
12,14,7,4,19,0,6,0,30.000000,0,5,...,12,0,india,642525,0,3,174.757282,0,batsman,45.45
13,16,17,8,61,5,24,0,31.791667,7,14,...,30,0,india,422108,0,3,128.885135,0,batsman,40.00
14,17,36,18,108,7,77,3,36.600000,11,26,...,64,0,southafrica,321777,0,2,145.110132,2,batsman,45.31
15,20,21,2,17,0,15,0,19.200000,5,8,...,23,0,india,389605,0,2,146.938776,0,batsman,47.83
16,21,52,15,201,8,40,3,30.140625,6,39,...,78,0,srilanka,49289,0,8,126.741130,3,batsman,44.87
17,25,12,4,110,12,44,1,41.740741,6,16,...,29,0,westindies,53116,0,1,128.359909,0,batsman,65.52
18,26,46,1,24,0,13,0,11.866667,5,17,...,49,0,india,26907,0,4,122.758621,1,batsman,22.45
19,27,12,6,34,2,18,0,20.000000,3,12,...,20,0,usa,228943,0,1,128.617363,0,batsman,50.00
20,28,61,28,206,15,79,1,28.292135,13,52,...,107,0,india,33141,0,8,128.207739,7,batsman,57.94
21,29,28,11,75,3,38,3,27.777778,4,22,...,45,0,australia,8291,0,4,129.198966,1,batsman,37.78
22,31,8,3,60,2,21,3,46.153846,0,8,...,16,0,southafrica,43906,0,1,143.540670,0,batsman,43.75
23,32,5,1,12,0,0,0,17.333333,1,1,...,6,0,australia,4578,0,1,108.333333,1,batsman,0.00
24,35,60,22,199,8,65,5,29.910256,23,43,...,96,0,india,290630,0,4,122.724882,1,batsman,50.00
25,36,25,5,46,2,15,0,22.416667,6,14,...,32,0,bangladesh,56143,0,4,134.164589,0,batsman,50.00
26,37,4,0,1,0,0,0,2.333333,1,2,...,4,0,india,475281,0,0,77.777778,0,batsman,50.00
27,38,4,0,1,0,0,0,12.000000,1,0,...,4,0,india,322535,0,0,70.588235,0,batsman,0.00
28,39,3,0,4,0,0,0,11.666667,0,1,...,3,0,india,31104,0,0,112.903226,0,batsman,33.33
29,41,4,1,10,1,4,0,14.833333,4,1,...,6,0,southafrica,46148,0,0,120.270270,1,batsman,66.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
359,422,38,15,135,3,18,2,21.090909,11,36,...,59,0,india,31229,0,5,123.667377,2,batsman,43.10
360,423,27,27,151,5,43,3,38.782609,11,28,...,62,0,australia,267192,0,7,133.833458,0,batsman,40.32
361,425,7,1,6,0,1,0,12.800000,1,2,...,8,0,india,319745,0,1,120.754717,1,batsman,37.50
362,426,14,5,39,1,16,2,30.944444,1,13,...,22,0,england,10582,0,2,119.017094,0,batsman,36.36
363,427,2,0,3,0,0,0,7.500000,0,1,...,2,0,srilanka,300631,0,0,115.384615,0,batsman,50.00
364,429,2,0,0,0,0,0,4.000000,0,0,...,2,0,india,447587,0,0,66.666667,0,batsman,0.00
365,430,43,24,240,8,92,5,29.144737,12,53,...,80,0,australia,5390,0,2,142.443730,3,batsman,45.00
366,431,1,0,0,0,2,0,14.000000,0,1,...,1,0,india,447261,0,0,233.333333,0,batsman,0.00
367,433,5,0,4,0,2,0,8.200000,0,3,...,5,0,westindies,391485,0,2,128.125000,0,batsman,20.00
368,434,3,0,5,0,0,0,19.000000,0,1,...,3,0,india,237696,0,0,122.580645,0,batsman,33.33
369,435,3,0,1,0,1,0,25.000000,0,1,...,3,0,india,527299,0,1,125.000000,0,batsman,0.00
370,437,10,1,12,0,0,0,15.285714,1,4,...,12,0,australia,311592,0,1,109.183673,0,batsman,8.33
371,438,4,2,14,0,3,0,22.333333,0,3,...,6,0,australia,215155,0,1,127.619048,1,batsman,50.00
372,439,7,1,3,0,0,0,10.500000,1,3,...,8,0,india,31041,0,0,82.894737,0,batsman,50.00
373,440,12,0,7,0,0,0,11.000000,1,1,...,14,0,india,34274,0,0,77.192982,0,batsman,21.43
374,441,28,0,2,0,1,0,3.933333,4,5,...,30,0,india,35132,0,4,75.641026,1,batsman,13.33
375,442,18,1,29,2,7,0,19.466667,4,10,...,21,0,india,27685,0,1,114.062500,0,batsman,28.57
376,443,5,2,22,1,5,0,29.285714,4,3,...,8,0,australia,7547,0,0,140.410959,0,batsman,25.00
377,444,5,0,0,0,0,0,12.000000,0,0,...,5,0,india,719715,0,0,100.000000,0,batsman,60.00
378,445,3,0,0,0,0,0,8.000000,0,1,...,3,0,india,35401,0,0,72.727273,0,batsman,33.33
379,446,3,0,3,0,0,0,13.500000,1,1,...,3,0,southafrica,45705,0,0,103.846154,0,batsman,0.00
380,450,3,0,2,0,0,0,7.000000,0,2,...,3,0,southafrica,44410,0,0,107.692308,0,batsman,0.00
381,451,10,1,5,0,1,0,9.000000,3,4,...,11,0,england,16932,0,3,102.531646,0,batsman,27.27
382,452,9,0,2,0,2,0,12.000000,1,1,...,10,0,india,360911,0,1,85.714286,0,batsman,10.00
383,453,15,2,23,0,2,0,18.700000,4,3,...,17,0,india,36071,0,0,131.690141,0,batsman,23.53
384,455,6,0,3,0,0,0,4.500000,1,2,...,6,0,southafrica,40618,0,1,72.000000,0,batsman,0.00
385,456,79,30,491,27,57,10,33.496183,26,77,...,147,0,india,28763,0,15,127.818235,2,batsman,57.14
386,457,2,0,3,0,1,0,14.500000,1,1,...,2,0,india,554699,0,0,111.538462,0,batsman,0.00
387,458,18,1,63,2,20,2,24.500000,3,18,...,23,0,india,35630,0,1,124.768519,0,batsman,43.48
388,459,3,2,30,1,2,1,30.142857,1,4,...,7,0,pakistan,42683,0,0,122.674419,0,batsman,42.86