In [3]:
# %load ../import.py
import quandl
quandl.ApiConfig.api_key = 'MBMzvkxtv63KjFEV-tL6'
from quandl.errors.quandl_error import NotFoundError

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns
from sklearn import linear_model

import ipywidgets as widgets 
from ipywidgets import  interact, interactive, fixed, interact_manual
from IPython.display import display

# Collecting Ratios

### Common Files

In [4]:
s_list=pd.read_csv("../sector_list.csv")
s_ticks=pd.read_csv("../sector_ticks.csv")
s_ticks[["nse", 'tick']]= s_ticks["ticks"].str.split("/", expand=True)

In [5]:
s_list.head()

   Unnamed: 0            sector  sector_count
0           0       AGRO_INPUTS            25
1           1       AUTOMOBILES            10
2           2  AUTO_ANCILLARIES            53
3           3          AVIATION             2
4           4             BANKS            39

In [6]:
s_ticks.head()

,Unnamed: 0,ticks,name,sector,sub_sector,nse,tick
0,0,NSE/AARTIDRUGS,Aarti Drugs Limited,PHARMACEUTICALS,BULK DRUGS,NSE,AARTIDRUGS
1,1,NSE/AARTIIND,Aarti Industries Limited,CHEMICALS,ORGANIC CHEMICALS,NSE,AARTIIND
2,2,NSE/AARVEEDEN,Aarvee Denims & Exports Limited,TEXTILE,TEXTILES - OTHERS,NSE,AARVEEDEN
3,3,NSE/ABAN,Aban Offshore Limited,ENGINEERING,OIL DRILLING,NSE,ABAN
4,4,NSE/ABB,ABB India Limited,ENGINEERING,ELECTRICAL EQUIPMENT,NSE,ABB

In [7]:
ratios=pd.read_csv("common_ratio.csv")
ratios.head()

   Unnamed: 0       code                                               disc
0           0   BSEVOL_Q                                   BSE Trade Volume
1           1    EQCAP_Q                                Shareholders Equity
2           2  EBIDTSH_Q  EBIDTA Per Share (Unadjusted for splits/rights...
3           3    REVSH_Q  Revenue Per Share (Unadjusted for splits/right...
4           4      ETR_Q                                 Corporate Tax Rate

In [8]:
r="DIV_PCT_Q"
r.rsplit("_", 1)

['DIV_PCT', 'Q']

## Intersecting both ticks

In [9]:
deb_file=pd.read_csv("DEB-datasets-codes2.csv")
deb_file.columns=["query", "tick", "period", "code", "disc"]
deb_file.head()

,query,tick,period,code,disc
0,DEB/APARINDS_A_BSEL,APARINDS,A,BSEL,Unadjusted BSE Low Price
1,DEB/APARINDS_A_BVSH,APARINDS,A,BVSH,Book Value Per Share (Unadjusted for splits/ri...
2,DEB/APARINDS_A_CFI,APARINDS,A,CFI,Cash from Investing Activity
3,DEB/APARINDS_A_DCL,APARINDS,A,DCL,Degree of Cumulative Leverage
4,DEB/APARINDS_A_DFL,APARINDS,A,DFL,Degree of Financial Leverage

In [10]:
deb_ticks=deb_file["tick"].unique()
deb_ticks=list(deb_ticks)

In [21]:
s_list["sector"][35:]

35             PETROCHEMICALS
36            PHARMACEUTICALS
37                 PLANTATION
38         PLASTIC_PROCESSING
39                      POWER
40    PRINTING_AND_STATIONERY
41                REAL_ESTATE
42                     RETAIL
43                   SHIPPING
44                      STEEL
45                      SUGAR
46                    TELECOM
47                    TEXTILE
48          TOURISM_or_HOTELS
49                      TYRES
Name: sector, dtype: object

for sector in s_list["sector"][35:]:
    
    print("--------{0}--------".format(sector))
    sector_file_name="Data/"+str(sector)+".csv"
    
    
    with open(sector_file_name, 'a') as f:
        
        sector_ticks=s_ticks.loc[s_ticks["sector"]==sector,"tick"]    
        ticks=set(sector_ticks) & set(deb_ticks)
        ticks=list(ticks)
        
        for t in ticks:            
            tick=str(t)           
            
            for r in ratios["code"]: 
                
                #Reverse split only onece occuarce so as to avoid the ratio with undercore 
                
                period=r.rsplit("_", 1)[1]
                ratio=r.rsplit("_", 1)[0]
                
                query="DEB/"+tick+"_"+period+"_"+ratio
                
                try:
#                     print("Sucess At:{0}".format(query))
                  
                                    
                    data=quandl.get(query, column_index=1) 
                    data["Ticker"]=t
                    data["Ratio"]=ratio
                    data["Period"]=period
                    data.to_csv(f, header=False)
                    
                
                    
                except NotFoundError:    
                    print("Failed At:{0}".format(query))
                    pass

In [23]:
print("done")

done