In [30]:
# %load ../import.py
import quandl
quandl.ApiConfig.api_key = 'MBMzvkxtv63KjFEV-tL6'
from quandl.errors.quandl_error import NotFoundError

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns
from sklearn import linear_model

import ipywidgets as widgets 
from ipywidgets import  interact, interactive, fixed, interact_manual
from IPython.display import display

In [31]:
df=pd.read_csv("Data/AGRO_INPUTS.csv", header=None)
df.columns=["Date", "Tick", "Open", "High", "Low", "Last", "Close", "Tarde", "Turnover"]

In [32]:
df.head()

,Date,Tick,Open,High,Low,Last,Close,Tarde,Turnover
0,2007-04-19,NSE/ADVANTA,665.00,1000.00,585.35,852.00,845.50,6836148.0,58619.32
1,2007-04-20,NSE/ADVANTA,900.00,925.00,836.65,848.05,845.85,2367771.0,20624.10
2,2007-04-23,NSE/ADVANTA,850.00,859.90,793.00,800.75,803.35,1204122.0,9743.85
3,2007-04-24,NSE/ADVANTA,823.45,823.45,757.00,765.95,762.85,483525.0,3736.74
4,2007-04-25,NSE/ADVANTA,766.80,770.00,735.00,762.00,753.40,423649.0,3186.66

In [33]:
test=df.loc[df["Tick"]=="NSE/ADVANTA", ["Date", "Close"]]

In [34]:
test.head()

         Date   Close
0  2007-04-19  845.50
1  2007-04-20  845.85
2  2007-04-23  803.35
3  2007-04-24  762.85
4  2007-04-25  753.40

In [35]:
test.to_csv("adasd")

In [36]:
ls

adasd  Data/  PriceRetrieval.ipynb  test.ipynb