In [1]:
! tree

.
├── Data
│   └── Book1.xlsx
├── Market Basket.ipynb
├── market_basket.py
├── out.csv
├── __pycache__
│   └── market_basket.cpython-36.pyc
└── Question1.ipynb

2 directories, 6 files

In [2]:
import pandas as pd

In [3]:
from market_basket import basket_calculator
# basket_calculator(df,X,confidence_level=.6,  min_diff=1, unique=True):

In [4]:
df=pd.read_excel("./Data/Book1.xlsx")
df.head()

   transaction #  day week  vegetables  baby  fruit  milk  dvds  meat
0              1         5           1     0      0     1     0     1
1              2         4           1     1      1     1     0     0
2              3         5           1     0      0     0     0     0
3              4         5           1     0      1     0     0     0
4              5         7           1     1      0     1     0     1

In [5]:
df.columns

Index(['transaction #', 'day week', 'vegetables', 'baby', 'fruit', 'milk',
       'dvds', 'meat'],
      dtype='object')

In [6]:
X= ['vegetables', 'baby', 'fruit', 'milk',
       'dvds', 'meat']

In [10]:
# basket_calculator(df,X,confidence_level=.6,  min_diff=1, unique=True):

basket_calculator(df, X, 0.6,False)

,index,A,B,support,confidence,lift
68,8,"(vegetables,)","(fruit, dvds, meat)",0.007172,0.677419,1.116827
150,0,"(vegetables,)","(baby, fruit, milk, dvds, meat)",0.001366,0.666667,1.099099
122,2,"(vegetables,)","(baby, fruit, dvds, meat)",0.003074,0.642857,1.059846
4,4,"(vegetables,)","(fruit, milk)",0.056694,0.626415,1.032738
121,1,"(vegetables,)","(baby, fruit, milk, meat)",0.004440,0.619048,1.020592
124,4,"(vegetables,)","(fruit, milk, dvds, meat)",0.002732,0.615385,1.014553
65,5,"(vegetables,)","(baby, dvds, meat)",0.010246,0.612245,1.009377
64,4,"(vegetables,)","(baby, milk, meat)",0.014003,0.602941,0.994038